[2018-08-10 18:27] toddmedema opened #3 "More comprehensive errors"
For example, where it returns 'Stream server error' - if it returned more information about that error, we could show it to users or even just log it in the console to greatly improve the debugging experience. Perhaps it could also return an error param that is the underlying error object?

[2018-08-15 22:06] Pessimistress opened #7 "MVP Checklist"
Documentation:

- [x] Clarify [Point3D](https://github.com/uber/xviz/blob/master/docs/protocol-schema/core-protocol.md) type vs. `point` primitive

Spec:

- [x] Add `Pose` type ({x, y, z, pitch, roll, yaw})
- [x] Add `Matrix4` type (column-major Number[16])
- [x] `coordinate` field in stream metadata (per-Stream Coordinate System)
  + `geographic`
  + `map_relative`
  + `vehicle_relative`
  + `cus

[2018-08-24 18:00] xintongxia opened #21 "Make xviz-builder support xviz v2"

[2018-08-30 12:29] twojtasz opened #24 "stream metadata: coordinate field"
Stream data can be in different reference frames.  In order to generalize this the proposal is to add a *coordinate* field to the stream metadata.

The value of this field will be one of the following:
 * GEOGRAPHIC
 * VEHICLE-RELATIVE
 * CUSTOM - user-defined string

If CUSTOM the *postProcessFrame()* provided in the streetscape.gl xvizConfig() should return a *transforms* dictionary of matrices

[2018-08-30 12:43] twojtasz opened #25 "stream metadata: pose field"
Stream data from sensors can have a pose offset relative to the vehicle pose.  In order to support this we can add a *pose* field to stream metadata that can be applied to the transform prior to rendering in streetscape.gl

See https://github.com/uber/xviz/pull/17 and https://github.com/uber/streetscape.gl/pull/18

[2018-08-30 12:55] twojtasz opened #26 "definition for pose"
Currently the **pose** often named **vehicle_pose** is not well defined but MUST contains some fields in order to operate with streetscape.

Proposal is to define **pose** as the following:
[code]
**longitude, latitude, altitude** are geospatial coordinates that anchor this pose
**x, y, z** are meter offsets from the specified geospatial coordinates
**roll, yaw, pitch** are the orientation of the

[2018-08-30 12:59] twojtasz opened #27 "flattened arrays"
In order to support direct pass through to GPU's support for flattened arrays instead of nested arrays would be required.

Specifically this is in reference to the **points** type https://github.com/uber/xviz/blob/master/docs/protocol-schema/geometry-primitives.md#point-primitive

But may be considered for all types.

[2018-08-30 13:04] twojtasz opened #28 "Support color array for *points* type"
The **points** type is currently limited to our default styling of a single color.  In order to support additional data that often is shown with point clouds we should support a per-point color array.

https://github.com/uber/xviz/blob/master/docs/protocol-schema/geometry-primitives.md#point-primitive

[code]

[2018-08-30 13:11] twojtasz opened #29 "XVIZ 2.0 full primitive support"
https://github.com/uber/xviz/blob/master/docs/protocol-schema/geometry-primitives.md defines types not currently supported by the  [https://github.com/uber/xviz/blob/master/modules/builder/src/builders/xviz-builder.js](XVIZ Builder)

Specifically we must support
 * text
 * circle
 * stadium

[2018-08-30 13:16] twojtasz opened #30 "EPIC: Declarative UI"
Declarative UI is a simple structure for defining UI elements that connect to stream data for rendering of controls, charts, and tables.

Document of the format is required
Metadata Builder must support adding this data

See comment at bottom of this page: https://github.com/uber/xviz/blob/master/docs/protocol-schema/session-protocol.md

[2018-08-30 13:19] twojtasz opened #31 "EPIC: XVIZ v2 Schema validation"
We have the start of schema validation but we need:
 * examples for every type
 * debug validation in builders

[2018-08-30 13:22] twojtasz opened #32 "XVIZ v2 Metadata support"
XVIZ Metadata support many elements that are not currently well defined or demonstrate-able w/o a dynamic XVIZ server to handle requests.

We should either trim elements or complete their implementation for beta

https://github.com/uber/xviz/blob/master/docs/protocol-schema/session-protocol.md#session-metadata-to-client

[2018-08-30 13:58] twojtasz opened #33 "Python XVIZ Builder"

[2018-08-30 16:16] twojtasz opened #34 "xvizConfig Documentation"
Current [https://github.com/uber/xviz/blob/master/docs/api-reference/xviz-configuration.md](xvizConfig documentation).

However it is difficult to understand how and when this should be used.

We should provide an advanced configuration documentation that goes into this further.  As such there is an expectation that normal users should not have to provide this until much later in their adoption.

[2018-08-30 16:18] twojtasz opened #35 "XVIZ data model around time synchronization"
The question of time synchronization has come up in may conversations.  We need to provide clear explicit explanations of how the vehicle-pose in the "frame" provides the main time driver, and how the "time window" is used to determine what is "rendered" at a given time.

Furthermore we need to address the more nuanced aspect of a "empty" stream and how it relates to the time window.

[2018-08-30 16:21] twojtasz opened #36 "XVIZ object model"
The current XVIZ (https://github.com/uber/xviz/blob/master/docs/overview/concepts.md)[object model] results in many questions.

We should describe some reasoning behind this (that the same object and be updated by different parts of a system and therefore difficult to define all the object and properties in one place.

Thus the approach taken to assemble later in the pipeline.

[2018-08-30 19:29] twojtasz opened #38 "Setup Travis CI"

[2018-08-31 17:47] ibgreen opened #40 "Support Image Down-Scaling"
Given the size of images (some are ~800KB for each channel in KITTI), I would like the ability to rescale images in the builder API. Often data from modern camera comes in HD (1080p or even 4K), but for visualization purposes, something like 720p or even 480p is usually enough, with > 2x-4x space savings. Sometimes encoding quality can also be sacrificed, especially on secondary streams.

So we mi

[2018-08-31 22:43] Pessimistress opened #41 "xvizConfig API Audit"

[2018-08-31 22:53] Pessimistress opened #42 "Declarative UI children field"
To allow arbitrary stacking, merge `containers` and `components` fields into a single list `children`.

[2018-08-31 22:58] twojtasz opened #43 "Declarative UI Builder"
Declarative UI is a simple structure for defining UI elements that connect to stream data for rendering of controls, charts, and tables.

We need a builder to support the Declarative UI specification.

[2018-08-31 22:58] twojtasz opened #44 "Metadata Builder declarative UI support"
Metadata builder needs an API to be able to add Declarative UI elements.

Specifically it should take an object and validate that object using our schema definition.

Pre-requisite:
https://github.com/uber/xviz/issues/45

[2018-08-31 23:00] twojtasz opened #45 "XVIZ 2 Declarative UI"
The specification need documented.
See comment at bottom of this page: https://github.com/uber/xviz/blob/master/docs/protocol-schema/session-protocol.md

[2018-08-31 23:01] #30 closed, assigned to nobody

[2018-09-01 00:38] jlisee opened #46 "Complete full JSON specification for XVIZ 2 types"
Formally defining the schema will allow front ends to validate there input data and for us to validate various builder implementations (of which there are multiple complete and under way).

[2018-09-05 06:45] twojtasz opened #50 "Require stream names to be path-like"
Stream names are currently completely free-form but the intention has been to be very path-like.  Lets make this intention part of the specification.

There are no semantics to this path. There is no requirement that **/foo/bar** must have some hierarchical relationship to **/foo**.  However if you where to maintain such a relationship it may make some elements in streetscape.gl work.

One example

[2018-09-05 15:23] ibgreen opened #51 "Point Cloud Compression"
glTF version 2 with the GLB container supports the draco compression extension.

The XVIZWriter has an option for this but it is currently disabled as it was not working as expected. We need to work with `@loaders.gl/gltf` to fix this path and enable the option.

We know that draco decompression can take ~500ms to decode, but the size savings are still significant and is a valid option to add to X

[2018-09-05 16:23] ibgreen opened #52 "Setup Buildkite"
Buildkite results are still internal only so we could set up these asap

[2018-09-05 21:06] ibgreen opened #54 "Enforce uber-es2015 Coding Style"
- Remove .eslintrc overrides (mainly `camelcase`)
- fix linter setup
- update code to pass linter and prettier.

[2018-09-05 21:52] twojtasz opened #56 "xvizConfig Audit"
[xvizConfig](https://github.com/uber/xviz/blob/543b227a243068416c0617bdd7a8786fc88555a4/modules/parser/src/config/xviz-config.js) represents junction points and data for how to handle XVIZ processing.  This is an advanced feature and we should strive to minimize it's surface area.

With that aim the audit should
[ ] verify the reason for any field to be in this config
[ ] document every field with

[2018-09-05 22:13] twojtasz opened #57 "XVIZ comparison"
There are related projects that we should highlight similarities and differences.  This can also help inform our roadmap for the use-cases we want to address.

http://wiki.ros.org/rviz#User_Documentation
https://cesiumjs.org/tutorials/Visualizing-Spatial-Data/

[2018-09-05 23:07] twojtasz opened #58 "WIP - XVIZ Documentation update"
So we have docs that cover most of this.  Some updates are required, but also some structure will likely help (ie pure spec vs a more descriptive explanation of the system, but beyond an overview.  Maybe captured in a tutorial or walk-thru will be the right approach to weave the pieces together rather than more dry an direct spec style).  Need to meet with tech writing.

Pose
 - not a stream but a

[2018-09-05 23:09] #43 closed, assigned to nobody

[2018-09-06 05:05] twojtasz opened #59 "Constant data"
Add support for arbitrary constant data in the **XVIZ Metadata** builder. The intention is that this would be just arbitrary key/value settings that are included in the metadata.

`field(key:string, value:any)`

### Primary Use-case
Add contextual key/values such as start time, end time, vehicle, versions, etc

- [ ] API
- [ ] Documentation
- [ ] Tests

[2018-09-06 05:09] twojtasz opened #60 "WIP: Assets in XVIZ"
Loading external assets will be required eventually in XVIZ to support the general use-cases we expect to support.

# Use-cases
1. Models and textures for primary vehicle
2. icons for object state, street signs, etc (along with way to "map" to these assets)
3. Images from cameras
4. Complex system states as image

# Implementation
- how it would work with the "stream" concept, specifically tempora

[2018-09-06 14:07] ibgreen opened #61 "Add test coverage"
Same approach as for streetscape: https://github.com/uber/streetscape.gl/pull/39

[2018-09-06 16:51] twojtasz opened #64 "Persistent elements"
Some data that we want to represent does not have a temporal relationship to the scene. It is persistent and fixed.

Another consideration will be management of this data over long periods of time and or distance.  What control mechanisms are available to ensure that this data does not accumulate such that it creates a burden on the runtime.

Examples of such data would be map information, signage

[2018-09-06 16:54] twojtasz opened #65 "Persistent elements lifetime management"
Related to https://github.com/uber/xviz/issues/64

Scope out the options for management of persistent objects, where the boundaries are and alternatives (custom layers) and how they would or would not be able to utilize XVIZ

[2018-09-07 05:13] twojtasz opened #69 "XVIZ Builder: futures_states"
**[Futures_states](https://github.com/uber/xviz/blob/master/docs/protocol-schema/core-protocol.md#stream-set)** represent primitives with a timestamp (generally predictive into a future time).

[Definition](https://github.com/uber/xviz/blob/master/docs/protocol-schema/core-protocol.md#future-instances) appears incomplete as it does not specify the "type" of the primitive.  But the (schema)[https:/

[2018-09-07 05:17] twojtasz opened #70 "XVIZ Builder: time_series"
[time_series](https://github.com/uber/xviz/blob/master/docs/protocol-schema/core-protocol.md#time-series-state) represent single value data along with a timestamp, such as current velocity or acceleration.

From a builder API perspective, it means a `timestamp()` and `value()` is set only once for a frame.

Requirements
- [ ] verify schema
- [ ] verify documentation
- [ ] proper v2 output time_ser

[2018-09-07 05:34] twojtasz opened #71 "XVIZ Builder: variables"
**[variables](https://github.com/uber/xviz/blob/master/docs/protocol-schema/core-protocol.md#variable-state)** represent multiple valued data (vs time_series) such as a 10hz sampling of predicted velocity.

From a builder API perspective, it means supporting an array of values.

`value(<array>)`

Requirements
- [ ] support number, string, boolean
- [ ] documentation
- [ ] unit tests

[2018-09-07 05:55] twojtasz opened #72 "XVIZ Builder: inline styles"
[styles](https://github.com/uber/xviz/blob/master/docs/protocol-schema/style-specification.md)

There are v1 values we can support:
- color
- thickness_m (negative means fill, but do not think we need to support that in v2?)
- font_scale

There is a list in the above link about the v2 properties, their valid context (such as polygon), default values, and support for an array of values.

**NOTE** t

[2018-09-07 06:09] twojtasz opened #73 "Official ROSBAG support"
Support converter using rosbag.js based on voyage code.

Need example public rosbags first, may be able to use voyage data?

[2018-09-07 06:18] twojtasz opened #74 "XVIZ Tutorial"
Current documentation is in the context of a conversion of kitti data in streetscape or the spec in XVIZ.

We do not have anything that gives a guided incremental minimal demonstration of XVIZ in action.  Ideally this would be like a codepen with streetscape embedded along with the appropriate metadata & builder windows.

Question is if this is needed for Release or now.

[2018-09-11 19:18] twojtasz opened #78 "XVIZ Change from list of elements"
The current [specification](https://github.com/uber/xviz/blob/master/docs/protocol-schema/core-protocol.md#stream-set) calls for a **List** of elements, with each element containing a **name** along with other data.

There are two issues this creates.
1. Processing this data requires a linear search find a particular **stream**
2. Creates the opportunity for duplicate entries for a single stream

[2018-09-11 19:27] twojtasz opened #79 "XVIZ variables should support an **ID**"
The [specification for variables](https://github.com/uber/xviz/blob/master/docs/protocol-schema/core-protocol.md#variable-state) is unique compared to the other types as it does not support an **id**.

It seems like being able to specific an **id** would be desirable and consistent with the other types.

[2018-09-12 12:04] #21 closed, assigned to xintongxia

[2018-09-12 18:17] twojtasz opened #82 "Separate out Builder into discrete builders rather than one that covers all types"
The builder API is useful for when there are many variations to parameters and multiple parameters.  However, the validation required to keep track of internal state and validation as well as IDE support makes separate builders per type an attractive refactor.

Builder list breakdown
 - [x] primitives & futures
 - [x] variables
 - [x] time_series

The idea is to have the XVIZBuilder have top-level

[2018-09-13 03:45] twojtasz opened #83 "XVIZ inline styles as a dictionary"
Current [primitive specification](https://github.com/uber/xviz/blob/master/docs/protocol-schema/core-protocol.md#primitive) describes the inline style as an array of objects.

A more natural mapping is to treat the style properties as keys of a map.
[List of style properties](https://github.com/uber/xviz/blob/master/docs/protocol-schema/style-specification.md) shows the value types of number, arra

[2018-09-14 18:34] xintongxia opened #84 "Add xviz-builder documentation"

[2018-09-14 21:41] Pessimistress opened #85 "Support inline styling in XvizBuilder"
@twojtasz

Related to https://github.com/uber/streetscape.gl/issues/49
Instead of specifying `height` in XVIZ styles, we want to use inline styling so that each tracklet can have its own height.

The solution should be applicable for all primitive types and all stylable props in the [style spec](https://github.com/uber/xviz/blob/master/docs/protocol-schema/style-specification.md).

[2018-09-22 00:03] ibgreen opened #93 "Replace built-in loaders with `loaders.gl`"

[2018-09-26 18:07] #54 closed, assigned to ibgreen

[2018-09-26 18:07] #61 closed, assigned to ibgreen

[2018-09-26 18:07] #52 closed, assigned to KevinGrandon

[2018-09-26 18:24] twojtasz opened #97 "Audit and remove any XVIZ v1 support in builders"

[2018-09-28 21:24] #45 closed, assigned to nobody

[2018-09-28 21:24] #44 closed, assigned to xintongxia

[2018-09-28 21:24] #84 closed, assigned to nobody

[2018-09-28 21:24] #69 closed, assigned to xintongxia

[2018-09-28 21:25] #29 closed, assigned to twojtasz

[2018-09-28 21:25] #70 closed, assigned to xintongxia

[2018-09-28 21:28] twojtasz opened #101 "Scene graph and meaning for metadata (pose/transform) on child nodes re: issue #26"
The issue is as we add hierarchy semantics to streams, we can benefit in the metadata by allowing children to inherit properties from the parents.

This needs speced out and likely part of next major release

[2018-09-28 21:29] #38 closed, assigned to nobody

[2018-09-28 21:33] twojtasz opened #102 "Projection of geospatial data over large areas (> 10kilometers)"
Accuracy is important, and this was for large point clouds.

We currently don't have data to test and validate against.

[2018-09-28 21:35] #73 closed, assigned to nobody

[2018-09-28 21:49] #85 closed, assigned to xintongxia

[2018-09-28 21:49] #40 closed, assigned to xintongxia, ibgreen

[2018-09-28 21:50] #71 closed, assigned to nobody

[2018-09-28 21:52] #72 closed, assigned to nobody

[2018-10-01 19:37] twojtasz opened #104 "stream metadata: coordinate field"
Stream data can be in different reference frames. In order to generalize we will add a **coordinate** field to the stream metadata.

The value of this field will be one of the following:

GEOGRAPHIC - no data, assumed long, lat
VEHICLE_RELATIVE - no data, but optional **transform** *
IDENTITY - default, no interpretation of the values
DYNAMIC - single explicit name to choose transform from xvizCon

[2018-10-01 19:40] twojtasz opened #105 "Enforce Stream names to be path-like"
Stream names are currently completely free-form but we want to force them to be path-like.

Specifically stream names must
- always starts with a /
- sections contain only: [a-zA-Z0-9_-:.]
- does not end with a /

Tasks
- [x] update spec
- [x] update code
- [x] add tests
- [x] update docs

References https://github.com/uber/xviz/issues/50

[2018-10-01 19:46] twojtasz opened #106 "XVIZ Variables must support an "id" field like other elements"
This is mainly an oversight in the specification we are correcting.

The ID field is used to associate data across streams to objects

Tasks:
- [x] update spec
- [x] update docs
- [x] update builders
- [x] update tests
- [ ] verify support in streetscape.gl

https://github.com/uber/xviz/issues/79

[2018-10-01 19:49] twojtasz opened #107 "XVIZ inline styles defined as a separate object where keys are style fields"
This is a refinement on the current specification to be more CSS like.

Tasks:
- [x] update builder
- [x] update tests
- [x] update spec
- [x] validate streetscape.gl

References https://github.com/uber/xviz/issues/83

[2018-10-01 19:54] twojtasz opened #108 "XVIZ base type collections changing from list to dictionary"
XVIZ 2.0 Spec describes the collection as a **list** and we are changing it to a **dictionary**.

Specifically the objects in the list have have a **name** field, which will become the **key** in the dictionary.

The builder currently already works this way but we should validate it across the system.

Tasks:
- [x] update spec
- [x] update code
- [x] update tests
- [x] validate streetscape.gl

Ref

[2018-10-01 20:28] twojtasz opened #109 "XVIZ style must support a 'color' array"
There are use cases where multiple colors is a desired style property.
- The **points** primitive where we want to color each point a specific color
- Other **primitives** where we want to have the color to be chosen from a list of colors

Requirements:
- if type of primitive is **points** support inline color array, not allowed in a stylesheet
  - tools should error if possible, otherwise warn

[2018-10-01 20:30] twojtasz opened #110 "XVIZ style must support 'color' as string and array [rgba]"
Currently our schema defines **color** as an array of numbers.  Our current tooling supports a color string such as "#rrggbbaa".

We must support both.

Tasks:
- [x] update spec
- [x] update code
- [x] update tests
- [ ] validate streetscape.gl

References: https://github.com/uber/xviz/issues/28

[2018-10-01 20:44] twojtasz opened #111 "XVIZ support for flattened arrays"
Using nested arrays for some data types requires additional processing in order to pass directly a GPU buffer.

In order to support optimized data flows XVIZ will allow for some types to be **flattened**.

Requirements:
- for primitives **point**, **polygon**, **polyline**
  - if the first entry of the geometry field **points**, **vertices**, **vertices**, is not an array **THEN** the number of el

[2018-10-01 20:57] twojtasz opened #112 "Define a POSE type"
Define a **pose** type

The definition of the type is as follows:
[code]

Note: for **mapOrigin** implementations can create arrays at ingestion time, if performance is a concern.

Task:
- [x] docs
- [x] code (builder)
- [x] spec
- [x] streetscape

References https://github.com/uber/xviz/issues/26

[2018-10-01 21:15] twojtasz opened #113 "Move vehicle_pose to be a normal state_update entry"
*/vehicle_pose* is treated as special, and this is confusing and limiting.

- We will move **/vehicle_pose** as it is today in to the *state_updates*. Each entry in that array will must have a pose entry, even if they are duplicates for each **state_updates** entry
- add a new top-level collection **poses** next to **primitives**
- the stream **/vehicle_pose** must be defined
- additional poses ca

[2018-10-01 21:19] twojtasz opened #114 "stream metadata: transform matrix"
Data can be relative to known point, such as the vehicle origin.  An example might be the lidar, radar, or camera sensors.

To enable correct transformation of this data along the GPU data path we must annotate the stream with a **transform** field.

This can be exposed in the stream builder as follows:
- **pose()*** A convenience function we have to day to construct a transform matrix from a pose

[2018-10-01 21:21] twojtasz opened #115 "A way to validate builder output using the JSON schema definitions"
We must validate our generated JSON against the schema definition.

This must work on raw JSON files as well as the GLB binary files.

[2018-10-02 06:44] twojtasz opened #116 "Setup Script & Testing"
Add scripts to make setup a bit easier (too many manual steps right now).

And test, then update docs.

[2018-10-04 05:27] twojtasz opened #119 "Add ability to "merge" builder instances"
A common flow is to pass a builder to various conversion objects to add their stream to the frame.  However, the builder object keeps internal state so it can't be shared across async converters w/o  changing state between concurrent conversions.

The best answer would be to have a builder be able to "merge" or "reduce" them to final frame.

[2018-10-04 16:09] twojtasz opened #121 "Timestamp in state_updates object w.r.t. moving pose into that object."
The **state_updates** object would have a timestamp that was a copy of the external pose, but the array of objects in state_updates could have multiple entries and each entry could have a different timestamp (internally).  The reason for this is that those entries could come from different sources, but the controlling timestamp was always the vehicle_pose.

Another issue is that i'm thinking event

[2018-10-09 18:50] #79 closed, assigned to jlisee

[2018-10-09 19:03] #83 closed, assigned to jlisee, Pessimistress

[2018-10-10 01:01] #28 closed, assigned to jlisee, Pessimistress, ibgreen

[2018-10-10 02:33] #24 closed, assigned to jlisee, Pessimistress

[2018-10-10 02:35] #25 closed, assigned to jlisee, Pessimistress

[2018-10-11 19:31] #78 closed, assigned to jlisee

[2018-10-12 02:35] jlisee opened #137 "Provide schema module API to check objects"
For the builders and on disk files we want to be able to check whether or not the data they are creating is valid.

The API should ideally be something like:

[code]

[2018-10-16 19:25] jlisee opened #143 "Updates XVIZ 2 to include multiple variables per stream"
We are able to have multiple primitives on the same stream each associated with a different object, we want to be able to do that for variables as well.

We might want to provide a metadata setting in the future to specify whether a stream can have a single or multiple values so the declarative UI will have an easier time of it.

- [x]  update spec
- [x]  update docs
- [x]  update builders
- [x]

[2018-10-18 20:05] #137 closed, assigned to jlisee

[2018-10-25 19:32] shanshanzhu opened #165 "`parseStreamDataMessage` and `decode` throws error when message is JSON type"
`parseStreamDataMessage` and `decode` throws error when message is JSON type

Steps to reproduce:
1. Create a `decode` unit test and send a JSON as first argument
https://github.com/uber/xviz/blob/master/modules/parser/src/parsers/parse-stream-data-message.js#L28

Error is thrown as
[code]
This `new Dataview()` is assuming the data must be array buffer
https://github.com/uber/xviz/blob/master/modu

[2018-10-26 00:45] #165 closed, assigned to nobody

[2018-10-29 21:55] shanshanzhu opened #174 "import `ply-parser` failes in browser"
Browser throws an error when we import the `av-web-platform`.

[code]

Is `ply-parser.js` supposed to work in node only?
Depending on the purpose of this function, there are a couple possible fixes:
1. Wrap the code in a function.
2. Make this line executable only in node
3. Add a `Buffer` Browser Shim.

Which one is preferred?

[2018-11-09 00:39] #108 closed, assigned to nobody

[2018-11-09 00:41] #114 closed, assigned to nobody

[2018-11-09 00:41] #104 closed, assigned to nobody

[2018-11-09 00:42] #112 closed, assigned to jlisee, xintongxia

[2018-11-09 00:43] #113 closed, assigned to nobody

[2018-11-09 00:43] #82 closed, assigned to xintongxia

[2018-11-09 00:43] #116 closed, assigned to twojtasz

[2018-11-09 00:44] #105 closed, assigned to xintongxia

[2018-11-09 00:44] #26 closed, assigned to jlisee, Pessimistress

[2018-11-09 00:44] #50 closed, assigned to jlisee

[2018-11-26 13:34] jlisee opened #219 "Fully specify & document session Protocol message protocol flow"
When an XVIZ client connects to a server they exchange a series of messages to either get a live stream of updates or retrieve a section of logged data.  All the types and the sequence of messages need to be documented.  Ideally we also have a little client tester that verify this to help in development of servers.

[2018-12-03 05:29] jlisee opened #229 "Define an explicit set of errors with applicable rich fields"
Based on discussion from @twojtasz and I on #226.  It obvious we need to have error types that have more than a single text `message` field.  We want to:

 - Have an explicit list of error conditions from the server (and client) that can be handled in something like a switch statement

 - Have rich errors like "these streams are broken for cause X" which would let the UI mark those streams as brok

[2018-12-03 05:32] jlisee opened #230 "Define protocol negotiation and client/server capabilities system"
Based on discussion with @twojtasz in #226 it's clear that not all servers will be able to support every capability a client supports.  The most immediate of these are, are having the server and client agree on the `version` and `message_format` to use.  Then after that we want to be able to handle a server not supported the requested `profile` or `session_type` gracefully.

[2018-12-05 07:04] twojtasz opened #235 "Cover case for 'no data' as distinct state from 'absence of data'"
XVIZ does not model a time to live concept for data, instead it relies on the presence of the stream data entry to determine if there is data for a given stream in the defined time window.

This means that if you have an **absense of data**, meaning no source datum from which to generate XVIZ then last defined data will be used if it falls within the TIME_WINDOW of the application.

This is distin

[2018-12-22 02:22] jlisee opened #249 "Design time of interest stream type"
When looking at data from the world there are often specific times of interest that are important for specific users, and have different metadata associated with them.  A social media example of this is the SoundCloud [timed comment feature](http://www.speedofcreativity.org/2011/09/19/share-timed-comments-on-audio-recordings-with-soundcloud-playingwithmedia/), that lets people leave text comment a

[2018-12-26 01:59] jlisee opened #250 "Design and specify a XVIZ scene message type"
Test that streetscape and other clients match the spec.

RFC - #408

[Rendered](https://github.com/uber/xviz/blob/jlisee/single-rfc/dev-docs/bundle-rfc.md)

---------

We want to be able to convey a single grouping of XVIZ data to a client in one message, file or artifact.  This would be analogous to a PNG or JPEG.  The current way clients consume XVIZ data is as a stream of separate messages, sta

[2018-12-26 19:13] #27 closed, assigned to jlisee, Pessimistress, ibgreen

[2018-12-26 19:16] #42 closed, assigned to jlisee

[2018-12-26 19:19] #7 closed, assigned to jlisee, twojtasz, Pessimistress

[2018-12-26 19:20] #32 closed, assigned to nobody

[2018-12-26 19:22] #31 closed, assigned to nobody

[2018-12-26 19:23] #41 closed, assigned to Pessimistress

[2018-12-26 19:26] #34 closed, assigned to nobody

[2018-12-26 19:29] #46 closed, assigned to nobody

[2018-12-26 21:17] Pessimistress opened #251 "Remove the requirements for start_time and end_time"

[2018-12-28 00:15] #251 closed, assigned to Pessimistress

[2019-01-02 14:14] jlisee opened #256 "Design expansion of the declarative UI to support HUD"
It's common in XVIZ clients to want to have specialized always visible UI elements that provide the user situational awareness about what's happening in the scene they are viewing.

We want to:
 - Adapt the existing declarative UI system to describe these with minimal changes
 - Allow applications to still have a custom HUD
 - Support multiple HUD elements at once
 - Allow for simple and complex H

[2019-01-02 18:41] jlisee opened #257 "Create comparison/reference for ROS users in the doc"
ROS is a very common robotics system and it would be good for users to understand how XVIZ compares with it's log formats rosbag and the visualization system rviz and it's marker types.

[2019-01-03 11:54] jlisee opened #259 "Update declarative UI to properly handle multiple objects per/stream"
As the protocol evolved we did not update Declarative UI to fully specify how it handles streams with multiple objects for its various components.  For example what happens if I we supply a `time_series` stream to a `metric` widget that has data from 5 objects on it?  I think right now we'll get a very jumbled graph as all values are plotted to one line.

So at a high level we are going to:
 - **I

[2019-01-08 13:43] jlisee opened #273 "Add source and license log info to specification and docs"
We adding information needed for copyright and attribution for our sample datasets in the `metadata`'s `log_info`, see #270.  Users will probably want this as well and we want it to be consistent for our data too.

[2019-01-08 14:16] jlisee opened #274 "@xviz/server package: Turn demo server into a package"
Implement a server that include the dynamic protocol to support:

 - random seek
 - multiple data sets
 - dynamic stream filtering

This can still be over pre-extracted data.

_Ported from uber/streetscape.gl#73_

[2019-01-08 20:31] Pessimistress opened #275 "Manage error messages with probe.gl"
The same error should only be logged once.

![image](https://user-images.githubusercontent.com/2059298/50857042-41d83080-1341-11e9-9f32-35184b41f27e.png)

[2019-01-22 19:13] jlisee opened #289 "Update and fix text styles"
We want the styles to

- Change `angle` -> `text_angle`
- Change `size` -> `font_size` (units pixels)
- Change `alignment_baseline` -> `text_vertical_alignment`

And in the future we can add `font_family`.

@Pessimistress @twojtasz

[2019-01-24 20:53] jlisee opened #291 "Explicitly handle the empty stream case"
Related to persistence #64 we need to handle how the user tells a client that there is no longer any data on a particular stream.  Right now the only way to do that is type specific a `stream_set` where one of it's sub-mappings goes to no data:

[code]

[2019-01-25 16:19] jlisee opened #292 "Explicitly define how degenerate and no data primitive cases are handled"
For the point, polygon and polyline primitives the user provides a list of values and those values might not be of a valid length, so we should define how to handle these corner cases.  We should be precise enough such that an implementer can make a robust client, and schema & validation tools help users make clean error free data.  The tension here is between two goals:

 - Show the user as much

[2019-01-25 18:37] xintongxia opened #293 "Add stroke style to example converter"
Related to https://github.com/uber/streetscape.gl/pull/231

[2019-01-28 19:57] jlisee opened #296 "Refine how time series data for many objects is defined"
For geometry data a single update to a single stream maps to a list of objects that might or might not have object tags.

For time series we want to represent a world where:

 - `/vehicle/torque/commanded` - single instance numeric stream
 - `/vehicle/torque/actual` - single instance numeric stream
 - `/object/velocity` - many instance time series stream, one instance per object

The `object_id` w

[2019-02-05 18:19] twojtasz opened #303 "XVIZ parsing must not throw and must flag streams with errors"
There are places where we where throwing while processing XVIZ, which aborts processing the full update.

We must not throw while processing XVIZ
We must make available errors while processing at the granularity of streams
We must support
 - marking streams with errors
 - providing details about the type of errors
   - primitive issue
   - style issue, and when default styling may be used as a res

[2019-02-15 15:57] #291 closed, assigned to nobody

[2019-02-19 17:00] xintongxia opened #330 "fix vehicle trajectory generation in kitti example"

[2019-02-20 19:34] gerardsimons opened #334 "Wrong link in mapping-camera.md"
Super small mistake but hey, in the [Getting Started - Mapping Cameras]( https://github.com/uber/xviz/blob/master/docs/getting-started/mapping-camera.md)

You link to the [Tracklets Converter](https://github.com/uber/xviz/blob/master/examples/converters/kitti/src/converters/tracklets-converter.js)

But I am guessing that should be a link to the [image Converter](https://github.com/uber/xviz/blob/m

[2019-02-20 19:51] twojtasz commented on #57
https://github.com/uber/xviz/pull/327

[2019-02-20 19:52] twojtasz commented on #257
Handled in https://github.com/uber/xviz/pull/327

[2019-02-20 19:53] #257 closed

[2019-02-20 19:53] #303 closed

[2019-02-20 19:53] shanshanzhu opened #335 "Allow encode to support string field for xviz v1."
In v1 parsing, when workers are turned on, the xviz Payload is mutated, so when we save a snapshot of  binary payload we saw an empty string.
This is causing some issues in see https://jeng.uberinternal.com/browse/ATGTELE-564?filter=-1)

Ideally we'd like to support sending `state_update` as a string. Note that the performance cost is really low for converting binary to string.

https://github.com

[2019-02-20 20:01] shanshanzhu opened #336 "Bump yarn version to latest v1.12.3"
Upgrade yarn version so it is consistent with monorepo

[2019-02-20 20:02] #57 closed

[2019-02-20 20:04] shanshanzhu opened #337 "Broken bench test"
On master, run `yarn run bench`, we see failing tests:

[code]

[2019-02-20 20:08] shanshanzhu commented on #336
nvm I was on internal version.

[2019-02-20 20:08] #336 closed

[2019-02-20 20:11] shanshanzhu commented on #337
Oops. Sorry, I was on wrong version of xviz. The bench test was broken on internal version, not this one.

[2019-02-20 20:11] #337 closed

[2019-02-21 02:12] KevinYuk opened #341 "boot"

[2019-02-21 05:50] #341 closed

[2019-02-21 16:56] #335 closed

[2019-02-21 19:59] gerardsimons opened #342 "KITTI example error: env: node: No such file or directory"
On Mac I keep getting this error:
[code]
I have tried re-downloading a few times, but to no luck. I have attached the directory structure (tree output) of my data folder.
[tree.txt](https://github.com/uber/xviz/files/2891027/tree.txt)

[2019-02-21 20:17] #342 closed

[2019-02-21 20:17] gerardsimons commented on #342
Sorry, this has something to do with my node setup rather than your project.

[2019-02-21 23:29] twojtasz commented on #121
added in #120

[2019-02-21 23:30] #121 closed

[2019-02-22 00:41] twojtasz opened #345 "Document our xviz formats"
JSON
 - this is the schema definition

glTF with XVIZ
 - This is what the XVIZBuilder actually produces

glTF with XVIZ Protobuf
 - This is an idea

[2019-02-22 04:40] twojtasz commented on #174
This works in the browser, but we need to change to the @loaders.gl provided functions

[2019-02-22 06:59] #289 closed

[2019-02-22 06:59] #293 closed

[2019-02-22 22:15] twojtasz commented on #174
Current loaders.gl/ply is broken as far a I can tell.  Data is collapsed to axes, looking into details.

[2019-02-25 06:59] DeepTecher opened #349 "Localhost says upgrade required"
Thanks for sharing the very useful tool for AV visualization.

I think I managed to run the example successfully because “Checking for index file ,Loaded 154 frames” has already displayed on the terminal.However,the localhost says upgrade required.

Can anyone here help me solve this problem?

[2019-02-25 07:43] xintongxia commented on #349
Could you provide the stack trace of your error?

[2019-02-25 08:25] DeepTecher commented on #349
After run the demo script`./scripts/run-kitti-example.sh` ,terminal shows as following：

Ctrl-c to terminate.
Loading frames from  path/xviz/scripts/../data/generated/kitti/2011_09_26/2011_09_26_drive_0005_sync/
Checking for files:  path/xviz/data/generated/kitti/2011_09_26/2011_09_26_drive_0005_sync/1-frame.glb
Checking for index file
Loaded 154 frames

However, http://localhost:8081  does not di

[2019-02-25 09:36] xintongxia commented on #349
Our `XVIZ` server is using `WebSocket` to communicate with client (browser), you can check [`streetscape.gl`](https://github.com/uber/streetscape.gl), and it has a simple [example](https://github.com/uber/streetscape.gl/tree/master/examples/get-started) which can consume the data from `XVIZ` server.

After you install all the dependencies and get the `XVIZ` server up and running like you did previ

[2019-02-25 09:51] DeepTecher commented on #349
Thanks.Now everything is OK.

[2019-02-25 10:01] gerardsimons opened #350 "Running straight scenario with --loop errors"
Hey guys,

I am trying to implement a streaming XVIZ server of my own. The scenarios seems to be very helpful for this. Unfortunately when i try it with looping as such:

`node index.js --loop --scenario straight`

I get an error:

[code]

indeed if I inspect the frames coming in, they are `undefined`

[2019-02-25 10:35] #349 closed

[2019-02-25 10:57] xintongxia commented on #350
After digging into the code, I found out this is related to the `--loop` flag in the script. Before I have more context about this fix, you could try to disable `--loop` for the time being.

Will have a follow-up fix soon.

[2019-02-25 17:02] jlisee commented on #350
#352 will disable using both of these features and provide a clear error message.   Once that lands this will become a feature request to enable looping with scenarios :)

[2019-02-25 20:11] jlisee commented on #350
We have landed #352 so you'll get a clear error message that this is not currently possible, we can look into support this in the future.

[2019-02-26 04:20] marionleborgne opened #353 "An alternative to XVIZStreamBuffer to retain only the most recent XVIZ data"
For "live" scenarios where only the latest XVIZ frame is needed, we could use an alternative to `XVIZStreamBuffer` to retain only the most recent XVIZ data. @twojtasz proposed an `XVIZStream` class that keeps only one timeslice in the pseudo-buffer that can be used in place of `XVIZStreamBuffer`.

[2019-02-26 19:50] gerardsimons opened #355 "How to use the CLI tools?"
I am currently trying to develop my own live streaming XVIZ server. It would be nice to have a few examples of the CLI tool.

I think the CLI tools would be very helpful for debugging and supporting development, but I have no idea how to run them. Some documentation on how to do this and what each tool is good for would be very nice.

[2019-02-26 21:07] jlisee commented on #355
Thanks for filing an issue about this.  I have some notes on plan and the existing usage of the tool and I can get that as a start of the documentation for the tool itself.   I am hoping to get to it by the end of the week but here are some quick notes:

You should be able to run the tool with JS tool chain, ie. `node` and `npm`/`yarn` so install like so (I have just run these commands and they do

[2019-02-26 21:08] jlisee opened #356 "Fix @xviz/cli package and make sure it's tested in the CI system"
These commands should run the XVIZ cli:

[code]

But instead we see:

[code]

[2019-02-27 01:47] pgh41 opened #358 "how to convert and start Demo application"
In your homepage at getting-started page to convert KITTI to XVIZ Fromat
write like this
![image](https://user-images.githubusercontent.com/35257373/53459319-af205c00-3a7c-11e9-8a41-5963d02a6687.png)
when i write yarn start -d 2011_09_26/2011_09_26_drive_0005_sync
error massage that have to use -o option.
how to solve this problem?
and at the github page ./scripts/download-kitti-data.sh
and  ./scr

[2019-02-27 07:08] #334 closed

[2019-02-27 08:49] tiffon opened #359 "API doc for XVIZStyleParser refers to xviz-stream-buffer.md"
`pages.json` reference is incorrect:

https://github.com/uber/xviz/blob/7419314fcc506c525b6aa31800b81d4553e468d6/website/pages.json#L258-L261

[2019-02-27 18:37] twojtasz commented on #359
Fixed in https://github.com/uber/xviz/commit/d3b2c10d8b2cdc9d60a585d2a2e9c878c2fc4a75.

Thank you!

[2019-02-27 18:37] #359 closed

[2019-02-27 18:51] twojtasz commented on #350
I haven't seen this mentioned but `--duration <seconds>` with a high # of seconds should work to get data flowing

[2019-02-27 19:32] twojtasz opened #361 "Performance Benchmarks"
We need to provide performance numbers that represent our system, but we need to be specific what we are testing so it is understandable and meaningful.

This task captures the context and characteristics we need to consider for our performance benchmarks.

## Application Mode
Performance is dependent on precisely what tasks are being performed.  This list specifies the modes we must consider when

[2019-02-27 19:43] twojtasz opened #362 "l"
l

[2019-02-27 19:45] twojtasz opened #363 "Mark API or Spec documentation clearly if UNSTABLE"
We need to mark the specification and documentation for any elements that are **unstable**

We need support in our documentation app.  Need to determine with @Pessimistress  how to best achieve this.

[2019-02-27 19:45] #362 closed, assigned to nobody

[2019-02-27 19:58] twojtasz opened #364 "More cross linking in our documentation is needed"
Our documentation does not have search and it can be difficult to get directly to the related documentation easily.

[2019-02-27 20:26] twojtasz opened #365 "Remove camelCase from spec"
There are a few places where camelCase is used.

mapOrigin @ https://github.com/uber/xviz/blob/master/docs/protocol-schema/core-types.md#pose

We should make sure we have unified snake_case and ensure all references are properly updated.

[2019-02-27 20:38] twojtasz opened #366 "Add glTF nodes for supported assets for some compatibility with glTF Viewers"
XVIZ could leverage glTF and add nodes to the scene to allow any XVIZ stored assets to be compatible with glTF viewers (such as images or point clouds).

Specifically we could
- Add a scene quad textured with an image
- Add the point cloud to the scene

[2019-02-27 20:51] twojtasz opened #368 "Review 'time_series' specification as they are unique compared to the other primitives"
**time_series** do not have the same structure as other primitives and requires special handling in any XVIZ related code.

The **time_series** structure was setup to have parallel arrays of streams & values rather than a dictionary of streams to values.  Part of this is the values can also be tagged with an **object_id** and by grouping we avoid redundant attributes spread across multiple objects

[2019-02-27 21:35] twojtasz opened #370 "Document how missing XVIZ metadata should be handled"
XVIZ and Streetscape.gl (and any other viewer) should treat metadata as auxiliary data and not mandatory.

XVIZ must specify behavior on streams with missing metadata.

## Context

There are problems in that some metadata is required to be displayed correct or efficiently (such as coordinate frames and styles).  However in the absence of metadata, even if not displayed correctly, data should still

[2019-02-27 21:43] twojtasz opened #371 "Remove requirement of /vehicle_pose"
Our data models so far has made an assumption that we would have a **/vehicle_pose**.  There are cases where looking at data independent of any vehicle is strongly desired and even more importantly simpler.

XVIZ must specify behavior w/o any vehicle pose, and should cover the the case of multiple vehicle pose.

- [ ] spec definition
- [ ] camera control definition w/o a vehicle_pose
- [ ] builder

[2019-02-27 21:51] twojtasz opened #372 "ROSBAG Offline Converter"
Example that is using an offline ROSBAG converter to display data in Streetscape.gl

[2019-02-27 21:51] twojtasz opened #373 "ROSBAG Dynamic Server Support"
Integrated ROSBAG conversion with full Server control

[2019-02-27 21:56] twojtasz opened #374 "ROSBAG Browser Webapp"
ROSBAG drag and drop support webapp

Lots to work out here, and dependent on some spec changes such as metadata specification changes.

[2019-02-27 22:01] twojtasz opened #375 "XVIZ Conformance Tests"
Test that streetscape and other clients match the spec.

RFC - #385

[Rendered](https://github.com/uber/xviz/blob/jlisee/conformance-rfc/docs/rfcs/0001-client-conformance-tests.md)

## Things to add
- update_type
- log commands

[2019-02-28 00:39] #356 closed

[2019-02-28 05:27] pgh41 opened #380 "ros data to xviz"
Is it possible converting ros x.bag data to xviz?
if it is possible how can i do it?

[2019-02-28 05:40] #358 closed

[2019-03-01 05:22] jlisee commented on #380
Now that @twojtasz has his account back I am closing this as a duplicate of #372.  That covers an offline conversion tool/library.

[2019-03-01 05:22] #380 closed

[2019-03-02 00:50] shanshanzhu opened #384 "Remove text-encoding dependency"
Issues:

The repo use `text-encoding` lib in the utils https://github.com/uber/xviz/blob/master/modules/parser/src/utils/text-encoding.js#L18

`text-encoding` is deprecated and no longer maintained. Nodejs expose TextEncoder from `util` module in v8, and from `global` module in v11.
https://nodejs.org/api/util.html#util_class_util_textencoder
https://www.npmjs.com/package/text-encoding

Suggested

[2019-03-02 01:27] ibgreen commented on #384
This might also be a question for loaders.gl, which currently includes this polyfill under node (and xviz uses loaders.gl).

Some vis.gl framework based apps support IE11, I assume that they probably still need this. We could update the instructions for building for IE11 to mention including this polyfill, and not include it by default. @tsherif

[2019-03-02 01:54] tsherif commented on #384
It looks like TextEncoder isn't supported in IE or Edge: https://caniuse.com/#feat=textencoder

(Edge surprises me, actually. I'll double check that on my Windows machine at home.)

[2019-03-02 02:40] Pessimistress commented on #384
We have

[code]

in package.json so it wouldn't work in these browsers regardless.

[2019-03-02 09:22] hfchendrikx opened #386 "Single file static XVIZ Log"
Hi, First of all, this is a great project and I would really like to make use of it, thanks for making it open source.

I was wondering if it is possible to pack all the single frame files into one large file? Which then has some kind of header at the front so that the client can skip to the correct frame using range headers, like a video stream. Is this implemented already or are you planning on

[2019-03-02 12:20] tsherif commented on #384
I can confirm that TextEncoder is not supported in Edge.

[2019-03-02 15:12] gerardsimons opened #387 "Unable to replicate playground code in WebSocket server (INCOMPLETE error)"
Hi,

I am building a very simple streaming XVIZ server. I think I have the simplest one, and thought it'd be good to start with the examples you see in playground. In general I really enjoy this workflow of trying something in the playground (really cool example!) and then putting it in my application.

Unfortunately, trying to run this WS server:

[code]

with the streetscape.gl get-started (yarn

[2019-03-02 15:32] gerardsimons commented on #387
In fact, it looks like even the generated JSON in the playground is not valid? To make it valid I have to wrap the version in a "data" tag. So not

[code]

But rather:
[code]

I also noticed the XVIZPlayground uses an XVIZWriter to turn the resulting metadata in a message. Do I need to do that? Is a simple `JSON.stringify(xvizMetadataBuilder.getMetadata())` not sufficient?

[2019-03-02 16:20] gerardsimons opened #388 "Unable to install @xviz/builder"
Starting from scratch by trying to install @xviz-builder in a new directory

`npm install @xviz/builder`

results in an error:

[code]

I have attached the log file.
[2019-03-02T16_14_27_709Z-debug.log](https://github.com/uber/xviz/files/2922270/2019-03-02T16_14_27_709Z-debug.log)

My npm version is 6.7.0

[2019-03-02 20:09] jlisee commented on #386
We do not currently have this but we had some thoughts around it.  Can you describe how you want to use these files?

The basic idea was to move our multi-file on disk format into a "glb" like format where chunk 0 is a JSON index, chunk 1 is the metadata, and the rest of the chunks are the frame/updates.  So a client can read the front of the file then any chunk they want based on the time range t

[2019-03-02 20:28] jlisee commented on #387
## Issue

When running over a web socket we put XVIZ data into an envelop object with just `type` and `data` fields. Where `type` is `xviz/TYPE` and `data` is the actual content returned by the builders.  This allows you to send application specific data on the web socket as well as XVIZ data.  You can read more about it [here in the docs](https://avs.auto/#/xviz/protocol/protocol-implementations/

[2019-03-02 23:01] jlisee commented on #388
I get the same thing with npm version 6.4.1, as a work around you can use `yarn`:

[code]

[2019-03-03 05:16] Pessimistress commented on #388
@ibgreen

[2019-03-03 09:41] gerardsimons commented on #387
Ah that's great advice and fixes my issue so far. Thanks for taking the extra effort in giving me some dev tips too.

[2019-03-03 09:41] #387 closed

[2019-03-04 03:05] ibgreen commented on #388
This was fixed in https://github.com/uber-web/loaders.gl/pull/103 and the latest published version of loaders.gl should have the fix. Try bumping the xviz dependency and let me know.

[2019-03-04 09:35] gerardsimons commented on #388
Not sure how I bump the version from commandline `npm install @xviz/builder` ? What version do I specify?

[2019-03-04 15:46] RunOrVeith opened #391 "KITTI example: base-converter.js file selection must be smarter"
I just tried running the KITTI example on a different piece of KITTI: 2011_09_26_drive_0009
For downloading I ran
`scripts/download-kitti-data.sh 2011_09_26_drive_0009`

Then I ran the converter in examples/converters/kitti:

`yarn start -d ../../../data/kitti/2011_09_26/2011_09_26_drive_0009_sync -o ../../../data/generated/kitti/2011_09_26/`
Running the converter crashes after displaying
`process

[2019-03-04 15:53] RunOrVeith commented on #358
For anyone wondering at this, the following things in that example appear to be outdated:

- Relative paths are not resolved as described, but based on the directory where the script is started
- I had to run `yarn add @xviz/builder` after running `yarn` because that was not installed automatically
- The `-o` option is now required. You need to specify an output folder. The expected one seems to b

[2019-03-05 18:31] twojtasz commented on #391
@xintongxia can you take a look at this.  Our conversion should be robust against missing data files.

[2019-03-05 18:43] twojtasz commented on #388
@gerardsimons I will update the package inside *@xviz/builder* and then we will see about publishing a new one.  In the meantime I hope the yarn work around works?

[2019-03-05 19:34] twojtasz opened #394 "Ensure spec uses snake_case and not camelCase"
Our spec has the convention of using *snake_case* and out API has used *camelCase*.  Fix the places in the spec where we have mistakenly used *camelCase*.

Locations:
 - mapOrigin in **Pose**
 - displayObjectId in **declarative UI**
 - independentVariable in **declarative UI**
 - dependentVariable in **declarative UI**

[2019-03-05 22:26] twojtasz opened #396 "XVIZ Icon primitive"
ROS markers would benefit from having direct XVIZ Primitive where applicable

[2019-03-05 22:49] twojtasz commented on #330
@xintongxia This was fixed correct.

[2019-03-05 22:59] twojtasz opened #397 "Create a way to reference a package directly from github"
We should enable users to test pre-published packages.

[2019-03-05 23:01] twojtasz commented on #365
There is a duplicate https://github.com/uber/xviz/issues/394 that has more info.  Closing this one.

[2019-03-05 23:01] #365 closed

[2019-03-06 01:04] tgorkin commented on #368
Related to #296 ?

[2019-03-06 01:18] twojtasz commented on #93
Replaced in https://github.com/uber/xviz/pull/318

[2019-03-06 01:18] #93 closed

[2019-03-06 01:52] twojtasz commented on #386
I see the this single file as serving a few purposes
1. Convenience
2. Streaming
3. Optimization

Each case leads to a different internal structure.  I looked over at glTF related issues on streaming and it is on the radar, but not really a target for the format.  The scope for general glTF is different and our usage models the video stream closely, so it would be handy for an HTTP server.

In gen

[2019-03-06 01:58] twojtasz commented on #397
Here are a few ideas bouncing around:
Publish build packages to a separate repo
- https://github.com/ramasilveyra/gitpkg

Publish Release (tgz) to github directly
- https://github.com/release-it/release-it

Associated with some of this is that automated changelog generation which seems a worthy addition to help automate our releases even further.

I prefer the github published artifacts with a tgz

[2019-03-06 02:17] jlisee commented on #397
Is the goal here to allow users instant issue resolution, for example the solution to #388 is complete, but our "monorepo" JavaScript projects cannot [feed this need](https://github.com/uber/xviz/issues/388#issuecomment-469183171):

Because Yarn (yarnpkg/yarn#4725) and NPM (npm/npm#2974) + our build system do not allow users to install unreleased versions of our software.

So if we automate the re

[2019-03-06 06:05] neisakutou opened #398 "Console printing notes"
Hi, when I run the run-kitty-example.sh, which indicates to convert KITTI data and run the XVIZ server.

"**processing gps data frame X/Y**" is formally printed on the console.

Here, I'd like to check if **processing gps data** means that the stream has been generated successfully **including images and points data but not just gps data.**

[2019-03-06 09:01] gerardsimons commented on #388
Indeed it does, and a colleague found a workaround for NPM too by changing the loader dependency, which is probably what you meant (sorry I am a big Node noob). Thanks again.

[2019-03-06 18:04] bcsuvar opened #399 "node-expat command fails when trying to convert KITTI to XVIZ"
Hi,

I get a problem trying to execute KITTI conversion to XVIZ (https://avs.auto/#/xviz/getting-started/converting-to-xviz/viewing-the-generated-xviz)

Problem seems to be with node-expat. Could someone give me a pointer in where to find the solution?

[2019-03-06T17_47_06_319Z-debug.log](https://github.com/uber/xviz/files/2937652/2019-03-06T17_47_06_319Z-debug.log)

Appreciated

[2019-03-06 19:18] twojtasz commented on #398
I will double check, the diagnostics on conversion are minimal.

Are you asking if it **means** all the data, or you would like it to **specify** which data is converted.

[2019-03-06 19:24] twojtasz commented on #399
Looks like your on windows.

I suggest these references to see if it helps.  Ping me back either way.
https://github.com/astro/node-expat/issues/166

This is pulled in because of xml2json, we may want to move to https://www.npmjs.com/package/xml-js or https://www.npmjs.com/package/fast-xml-parser

[2019-03-06 19:24] twojtasz commented on #399
@xintongxia putting on your radar

[2019-03-07 07:41] jhx646018057 opened #400 "yarn bootstrap failed in the Quick start of XVIZ"
### **when I run "yarn bootstrap" in the Quick start of XVIZ, It displayed the errors below:**
root@ubuntu-liu:/home/AVS/xviz/scripts# yarn bootstrap
yarn run v1.12.3
$ scripts/bootstrap.sh
Bootstrapping xviz, installing in all directories

warning package-lock.json found. Your project contains lock files generated by tools other than Yarn. It is advised not to mix package managers in order to avo

[2019-03-07 09:07] tkt028 opened #401 "validator.validatorMetadata is not a function"
**Context**
I follow the guideline [1] to validate the generated XVIZ data. My project is using the below package version
  -  "@xviz/builder": "^1.0.0-beta.1",
  -  "@xviz/schema": "^1.0.0-beta.1",

**Problem**
validator.validatorMetadata is not a function (please see below console log).

**Expected**
Able to validate the data according to the guideline [1]

**References**
[1] https://avs.auto/#/

[2019-03-07 12:31] bcsuvar commented on #399
Thanks @twojtasz, appreciate the suggestions. It hasn't worked just yet, but trying to sort it. I'm on windows, so there might be issues with that.

[2019-03-07 17:46] gerardsimons opened #402 "Invalid lat"
I get the following error trying to draw a GEOGRAPHIC coordinate type polygon.

[code]
This is the code I use to build the metadata:

[code]

And this is what I use to send a frame

[code]

On the streetscape side I use from getting-started > `yarn start-live` example.

Funnily enough I do not get this error when I run the exact same code in the playground (see screenshot)

![image](https://user-i

[2019-03-07 20:17] twojtasz commented on #65
Duplicate of https://github.com/uber/xviz/issues/64

[2019-03-07 20:39] twojtasz commented on #64
https://github.com/uber/xviz/pull/403 Addresses a basic persistent property, not covering the dynamic nature of LOD or data management.

[2019-03-07 23:22] twojtasz commented on #402
that assert seems to be coming from *streetscape.gl* @Pessimistress

[2019-03-07 23:25] twojtasz commented on #401
This looks like a simple bug, could you try `validateMetadata` instead of `validatorMetadata`. I'll update the docs.

[2019-03-07 23:28] twojtasz commented on #401
https://github.com/uber/xviz/commit/aa704096f0d7592d3937fc723418e4eb8fbbadf0

Thank!

[2019-03-07 23:28] #401 closed

[2019-03-07 23:32] twojtasz commented on #400
Need to investigate this.

[2019-03-10 11:20] hfchendrikx commented on #386
Thanks for the answers!

My usecase would be converting logs offline from the rosbag format to XVIZ and then storing them in some http accessible storage, like S3. This would then not require any special server. Of course this would also be possible with all the single frame files, but in my opinion it's easier to manage and cleaner if there is only one file per log.

[2019-03-10 20:40] gerardsimons commented on #402
Any quick workaround? Is the assert unnecessary? Could I remove it manually from source?

[2019-03-11 19:12] Pessimistress commented on #402
@gerardsimons A fix has been merged. If you run `yarn start-live-local` you should be able to validate it.

[2019-03-12 16:28] jlisee opened #406 "Declarative UI variable plot should support multiple independent + dependent variable sets"
The current variable based Plot ([see docs](https://github.com/uber/xviz/blob/master/docs/declarative-ui/components.md#plot)) lets the user pick an independent variable XVIZ stream like time of length A, then any number of dependent variable XVIZ streams.  This only works as long as all variable streams have updates of the same length A.  We want the user to be able provide multiple sets so they c

[2019-03-12 21:38] bwstud opened #407 "Spelling Mistake"
I don't know if this was intentional and I'm just missing it but on the ROS comparison page you title the second section, "Simularities". If you mean to spell the word traditionally it is, "Similarities".

[2019-03-13 17:33] jlisee commented on #355
I have landed an initial set of documented in #376, you can see it in master here: https://github.com/uber/xviz/tree/master/docs/xviz-tool

[2019-03-13 21:05] gerardsimons opened #409 "Transforming a single polygon primitive"
Hi there,

I am looking for the most easy way of rotating some of my polygons. I have live data coming in from which I can derive a bounding box (polygon primitive) and some other piece of data that tells me it's heading. What would be the best way to transform it. I am aware of a transform matrix for the meta, but this does not seem to convenient, as different primitives would have different tran

[2019-03-13 22:18] #355 closed

[2019-03-14 22:08] z-k-r opened #410 "Treetable integer type should be switched to int32"
Currently it reads "integer", should be "int32" instead

[2019-03-15 06:34] mickeyouyou opened #412 "Maybe a problem with the objects icon layer overlay"
![image](https://user-images.githubusercontent.com/3821311/54412691-ad1df480-472e-11e9-9c61-7f79c7178707.png)

[2019-03-17 09:04] Mandy3253 commented on #358
i also meet a problem when i convert  example data according to the [quick start demo](https://github.com/uber/xviz),
![image](https://user-images.githubusercontent.com/33458097/54487809-31aa7780-48d5-11e9-88df-e3f230f0cec8.png)
when i write  ./scripts/download-kitti-data.sh, it display a error
![image](https://user-images.githubusercontent.com/33458097/54487871-0ecc9300-48d6-11e9-89ab-01b560a184d

[2019-03-17 10:33] RunOrVeith commented on #358
You don't have wget installed. That is completely unrelated. Use 'sudo apt
install wget' to install it on Linux.

On Sun, Mar 17, 2019, 10:04 Mandy3253 <notifications@github.com> wrote:

[2019-03-17 11:39] Mandy3253 commented on #358
thank you so much,but  i ran it on windows .how can i solve it? or  this project  only can run  on Linux?

[2019-03-18 13:37] Mandy3253 commented on #358
thank you very much.because  i didn't use Linux rather ran it on windows.

[2019-03-19 12:15] Algirdyz commented on #409
Made it work fine with this:
[code]

Basically instead using a rotation matrix I get an angle and distance for each vertex from origin and use some math to get the coordinates for it when adding a desired angle.

vertices passed into this should have origin as 0,0,0
angle is in degrees
lon/lat are for the desired origin after transformation

[2019-03-19 17:02] twojtasz commented on #394
@jlisee should we just address **map_origin** and leave decl ui alone?

[2019-03-28 15:51] Algirdyz opened #413 "Memory leak when using polyline at high frame rate"
We have built a server that uses xviz builder to convert live data into xviz format and send that to streetscape. Most is working fine, but we have a memory leak. I have been investigating it and I traced it down to one line. If I comment this line out, everything works fine and stable.
[code]

Hist in this case is an array of vertices. Length maximum of 20. This is called once per trackable objec

[2019-03-28 20:38] twojtasz commented on #407
Thanks!

[2019-03-28 20:38] #407 closed

[2019-03-28 20:52] twojtasz commented on #409
@gerardsimons I'm trying to understand this more precisely.

We have support for defining a custom transform at runtime using the DYNAMIC *coordinate* and the *transform_callback*.  I'm actually not 100% we have this tested ;(  But is this the part you are saying seems inconvenient?

https://github.com/uber/xviz/blob/master/docs/protocol-schema/session-protocol.md#stream_metadata

It looks like yo

[2019-03-28 20:58] twojtasz commented on #410
Fixed with https://github.com/uber/xviz/pull/411

[2019-03-28 20:58] #410 closed

[2019-03-28 20:59] twojtasz commented on #412
This is streetscape.gl @Pessimistress

[2019-03-28 21:08] twojtasz commented on #413
First, your setup sounds great!

Yes this sounds like a bug.  There shouldn't be any limitations outside of memory but this does seem like something is not being managed properly.  The fact that you are creating a new XVIZBuilder each time **should** means those get removed but we must be holding on to a reference somewhere most likely.

I will try to recreate this based on your description.  If y

[2019-03-29 01:52] KevinYuk commented on #349
Hi @DeepTecher,

Could you please explain how do you solve the issue above?

Thanks a lot.

[2019-03-29 02:29] KevinYuk commented on #349
Hi @DeepTecher ,

I also can run it by using yarn start-streaming-local from @xintongxia . Thanks a lot.

However, I found that xviz server is started on localhost:8081, and xviz client (which is lauched by "start-streaming-local") connects to xviz server on localhost:8080.
@xintongxia Could you please explain it?

Many thanks.

[2019-03-29 08:28] Algirdyz commented on #413
Thanks for looking into it. I have thought about it more and I think that this might not actually be related to polyline specifically. That one primitive takes up about half of our frame data. So most likely this is because there is too much to convert?

For reference, each frame is about 300-500 kb.

I am using node v10.15.3. Same issue comes up on a windows 10 PC and a Macbook.

I'm sorry, but t

[2019-03-29 08:36] Algirdyz commented on #409
@twojtasz
How does DYNAMIC coordinate work? I could not find much documentation or examples on how to use it.

[2019-03-30 02:05] jlisee commented on #361
Want to leave a note here that we talked about creating an artificial data generator to help with testing.

[2019-03-30 02:08] jlisee opened #415 "Add support display images in 3D space"
This useful displaying things like cost flights, heatmaps, or even camera images in the 3D view to provide additional context.

[2019-04-02 03:57] tkt028 opened #417 "Extend the XVIZPrimitiveBuilder API to link more information (like velocity, acceleration, orientation) into /tracklets objects"
**Motivation**
Context: In my project, we have rich data (like velocity, acceleration, orientation) associated with each tracklet object (non-Ego vehicle).
PROBLEM: Currently, *XVIZPrimitiveBuilder API* [1] just support: style(), polygon(), polyline(), points(), etc, but not support a way to associate extra information (as mentioned above) with each tracklet object.
This fact creates a blocker for

[2019-04-02 10:56] tkt028 commented on #417
I make the code changes for this request, but I have no write access. Please help consider this change and merge into the master. Thank you very much!

[code]

I attach here the patch.
[0001-xviz-417-Extend-the-XVIZPrimitiveBuilder-API-to-add-.patch.txt](https://github.com/uber/xviz/files/3033532/0001-xviz-417-Extend-the-XVIZPrimitiveBuilder-API-to-add-.patch.txt)

**How it works?**
I simply add a

[2019-04-02 13:46] baker-Xie opened #419 "How to transfer data between a ros application / xviz / streetscape?"
I want to run a c++ ros application which will generate image/vehicle pose data and I want to display it in streetscape in realtime. I read the document but didn't find a solution. The server example only can load data in disk, but I want the server to receive data from another ros application. So what should I do ? Thanks

[2019-04-03 21:49] marionleborgne opened #421 "Remove requirement for endOffset in XVIZStreamBuffer"
@twojtasz  Remove requirement for `endOffset` in XVIZStreamBuffer

[2019-04-03 22:20] twojtasz commented on #419
The server example we have will only load from disk, that is correct.  But in a week or so we will have a JS websocket server that can server from effectively arbitrary data sources.  So you could, for example, have it source data from some live connection and send it through.

Now, how that  "live connection" works is kinda up to you.  We are working on doing conversion from rosbag using *rosbag.

[2019-04-03 22:37] twojtasz commented on #417
So we actually do support *some* associated data, but not in the way you are thinking.

The way we support this is with the *id* method when you build the streams.
https://github.com/uber/xviz/blob/master/examples/converters/kitti/src/converters/tracklets-converter.js#L80

As you can see in this code, we create *separate* streams for each datum velocity, etc
Then the front-end application will *me

[2019-04-03 22:38] twojtasz commented on #417
So there are ways to track an object today (I'll be adding to some FAQ/examples in the next few weeks).  However it doesn't track the orientation of that object.  That would be cool and will add that to the issue.

[2019-04-03 22:44] twojtasz commented on #417
Huge thanks for taking the time to work this out!  Will work to make sure our use-case are covered.

[2019-04-03 22:55] twojtasz opened #422 "Support Arrays of data for time_series"
Issue https://github.com/uber/xviz/issues/417 wants to associate arrays & vectors of data with other streams.  This is done currently with the *id* linking in the application, but we only support scalars in [*time_series*](https://github.com/uber/xviz/blob/master/docs/protocol-schema/core-types.md#time-series-state)

We should support arrays of values.
Possibly even dictionary? not sure about this

[2019-04-03 22:56] twojtasz commented on #422
@jlisee will want your thoughts on this

[2019-04-03 22:56] twojtasz commented on #417
See https://github.com/uber/xviz/blob/master/docs/protocol-schema/core-types.md#time-series-state

[2019-04-04 07:27] baker-Xie commented on #419
Thanks. so can I using c++ to convert my data into XVIZ format, and then use Socket to send the data to StreetScape Web Client ?

[2019-04-08 07:26] tkt028 commented on #417
Hi @twojtasz,
Thank you very much for your below explain about how XVIZ organizes the data structure.

[code]

I think this approach is OK for simple feature like rendering a Text Label when users click a vehicle object.
For feature like [1] which make the Camera to follow a selected vehicle object, it's important to be able to look up the orientation information of the vehicle so that we can adju

[2019-04-10 09:34] Algirdyz opened #424 "Image data is sent incorrectly to streetscape"
I am trying to stream image data to streetscape. I have a very simple implementation:
[code]

data in dataForCurrentFrame variable is binary buffer data received over a TCP socket. If I use this to save it, it works fine, I can open the image.
[code]

When I look at frame data that is being sent to streetscape it looks like this:
[code]
but in streetscape i get an
[code]

it is located in this fil

[2019-04-10 11:57] Algirdyz commented on #424
So I made it work by first converting the frame to glb using the xviz writer and then sending it
Now everything is fine.

Is sending images over json not supported?

[2019-04-10 17:51] tgorkin commented on #394
We are ignoring the declarative UI camel casing for now.

[2019-04-10 17:51] #394 closed

[2019-04-10 17:54] #345 closed

[2019-04-12 17:27] twojtasz opened #425 "@xviz/parser: Labels set on objects are removed and not populated again"
When we create a log slice we will call `addStreamDatum()` which adds only streams that are currently enabled (Not filtered out).
https://github.com/uber/xviz/blob/master/modules/parser/src/synchronizers/log-slice.js#L118

This calls *setLabelsOnXVIZObjects* https://github.com/uber/xviz/blob/master/modules/parser/src/synchronizers/log-slice.js#L130
for only the enabled streams.

However, when the

[2019-04-21 23:55] jlisee commented on #424
We'll have to look at this more closely.  When sending the data as JSON it should be sent as a base encoded buffer not a binary array like that.  So it should be:
[code]

So the things that are possibly broken here are:
 - The encoder in pure JSON form (definitely looks broken)
 - The decoder of the JSON data (possibly broken)

Right now we have only been doing this in glb for efficiency reasons b

[2019-04-21 23:58] jlisee commented on #422
@twojtasz sorry for the late reply but the we already do this through [variables](https://github.com/uber/xviz/blob/master/docs/protocol-schema/core-types.md#variables).  It would look like:

[code]

I will mention this on that issue as well.

[2019-04-22 19:10] jlisee opened #428 "Add a description field to stream metadata"
This can be used to provide details about the stream and can be surfaced in various UI elements to help users know what they are looking at.

[2019-04-23 15:23] gerardsimons commented on #33
Do you anticipate it to have all of the features that the JavaScript version has?

[2019-04-24 19:59] heethesh commented on #372
Any updates on this?

[2019-04-26 01:18] dpetzer opened #431 "Can't download PDF Invoice"
Login to rider.uber.com
Asks me to give my location, choose skip down the bottom
Go to My Trips
Click on a trip
Click on Save Invoice
Text changes to Loading and spins forever
![image](https://user-images.githubusercontent.com/8804266/56777662-1147d400-6816-11e9-968c-215697a8e3f7.png)

Tried this in Firefox, Chrome, IE10.

Receipt is no good, need invoice.

[2019-04-26 01:23] dpetzer commented on #431
Login to rider.uber.com
Asks me to give my location, choose skip down the bottom
Go to My Trips
Click on a trip
Click on Save Invoice
Text changes to Loading and spins forever
![image](https://user-images.githubusercontent.com/8804266/56777566-9979a980-6815-11e9-99e7-edf0df16e02d.png)

Tried this in Firefox, Chrome, IE10.

Receipt is no good, need invoice.

[2019-04-28 08:03] YinDonghui commented on #372
Where can i got the ROSBAG  offline converter?

[2019-04-29 03:17] EliotCao opened #432 "can't convert KITTI to XVIZ data"
When i try to run XVIZ convert demo, i met the bug 'node-expat command fails when trying to convert KITTI to XVIZ' >  #399

 and last i change xml2json to xml-js, then i recive error info:

(node:16616) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'forEach' of undefined
    at TrackletsConverter.forEach (C:\Users\rznqgt\Desktop\2\xviz-1.0.0-beta.7\examples\converters\kitti\src

[2019-04-29 08:53] #432 closed

[2019-04-29 21:49] twojtasz commented on #431
@dpetzer Sorry, this has nothing to do with https://rider.uber.com

I suggest following the instructions in the link to file a support request. https://help.uber.com/riders/article/how-to-contact-support?nodeId=4c69afef-5739-4842-9e98-ed0087b873db

[2019-04-29 21:49] #431 closed

[2019-04-29 21:52] twojtasz commented on #419
@baker-Xie Yes you could, but we do not have an XVIZ builder library for C++ yet.  However, you seem to get the possible data flow correctly.

[2019-04-29 21:55] twojtasz opened #434 "Provide a module to support reading and manipulating XVIZ data"
The current modules, **@xviz/builder** and **@xviz/parser**, do not provide general input/output functionality and data types one would expect for working with XVIZ data nor are they a logical home for such functionality.

Furthermore, the number of formats and variations requires any consumer of XVIZ to know a significant amount of details.

- We should provide a library that handles the details

[2019-04-30 01:29] dpetzer commented on #431
@twojtasz you are a champion.

[2019-04-30 03:54] pkulijing opened #436 "Lidar data transformation speed is too slow"
I'm trying to integrate xviz into our ROS autonomous driving system. I've managed to write converters to transform ROS msgs to xviz streams on the fly based on the KITTI example. Without lidar msg, everything works fine. Generating + writing a frame completes within 10ms, which is quite ideal for our 10fps autonomous driving system. But lidar msg makes the system too slow to use. On average, 4MB o

[2019-04-30 08:19] EliotCao commented on #399
@twojtasz Has xml2json begun to be replaced，or not?

[2019-05-01 16:00] gennarokukonu commented on #372
Same. Is there a ROS bag converter available for download?

[2019-05-05 08:05] EliotCao commented on #399
please

[Nodejs C++ Addons](https://nodejs.org/api/addons.html)
[node-gyp installation on windows](https://github.com/nodejs/node-gyp#on-windows)
[node-gyp use](https://github.com/nodejs/node-gyp#how-to-use)

[2019-05-05 10:40] pkulijing commented on #419
@baker-Xie just FYI, we are doing something similar and the following approach is working for us:
use [rosnodejs](https://www.npmjs.com/package/rosnodejs) to construct a ros node that receive ros msgs. You will also need [gennodejs](https://github.com/RethinkRobotics-opensource/gennodejs) to build your .msg files into javascript. Then you can use the nodejs sdk of xviz to transform ros msgs to xvi

[2019-05-07 10:18] pkulijing commented on #436
Closing the issue since we've found the problem. We were using the [sizeof](https://www.npmjs.com/package/sizeof) package to calculate the size of the lidar data, and that package turned out to be quite slow when the data is large. Removing it solved the problem.

[2019-05-07 10:18] #436 closed

[2019-05-07 22:41] gennarokukonu commented on #419
@pkulijing: I am new to using AVS (XVIZ, Streetscape GL) and I am not very familiar with web based applications programming (I have primarily worked with C++ and Python in Linux).
When you mentioned in your post "Then you can use the nodejs sdk of xviz to transform ros msgs to xviz streams, as elaborated in the kitti example.", where does one find the "nodejs sdk of xviz"? I hope I am not missing

[2019-05-09 07:16] pkulijing commented on #419
By "the nodejs sdk" I mean this whole repository. For a quick start you need to understand the usage of XVIZBuilder and XVIZMetadataBuilder, which is illustrated in  [the documentation](https://avs.auto/#/xviz/user-guide/generating-xviz). Then you can refer to the [kitti example](https://github.com/uber/xviz/tree/master/examples/converters/kitti) to get a taste of how to generate real xviz frames.

[2019-05-09 14:29] MatthiasThDs opened #445 "Cant import glb files in Blender"
Hi

I cant import the downloaded files from streetscape.gl, neither the ones i generated myself using xviz from kitti data. Blender (www.blender.org) has an official glb importer/exporter made by the Khronos group.

Best regards
Matthias

[2019-05-09 14:52] ibgreen commented on #445
Yes, this is expected.

- GLB is just a "binary container format" that encodes a JSON chunk and a BINARY chunk in one file.

- Blender imports "GLB encoded" **GLTF files**.

- XVIZ uses the GLB format to efficiently encode binary data, but does not populate e.g. the GLTF `scene` object at this point.

There has been some discussion about exposing some of the XVIZ data (e.g. point clouds) as a GLTF

[2019-05-09 18:38] draware commented on #380
@twojtasz possible to share any update? It would be great for our project. If you are busy it would be great to get some pointers to your approach and I'm happy complete and contribute it back.

[2019-05-09 21:44] gennarokukonu commented on #419
@pkulijing: Thank you for your assistance!

[2019-05-13 08:44] MatthiasThDs commented on #358
Hello,
i am on windows too. I wrote the necessary commands to download and run the script myself. but i get the following error:

[code]

[2019-05-13 08:46] MatthiasThDs opened #449 "XViz on Windows?"
Hello,
is it possible to run xviz on windows? When i try to build the converter i get an error:
PS: An when i try to use the glb files generated on my linux mashine on windows, then it doesnt show any data.

[code]

[2019-05-13 15:45] ibgreen commented on #449
@MatthiasThDs Unfortunately, Windows build support is not a priority for us. That said, we know that people have been able to build our frameworks on Windows - but not under the Windows command prompt, you will most likely need a Linux command line environment.

There are some notes on this in one of the "companion frameworks" that should apply since the use the same development setup: https://loa

[2019-05-13 15:45] #449 closed

[2019-05-14 12:51] pkulijing opened #450 "version v1.0.0-beta.9 results in error in lidar points generation"
I was using version v1.0.0-beta.8 and my lidar data could be generated correctly as a `point` primitive, similar to what is done in the kitti converter example. But after upgrading to v1.0.0-beta.9, without any change to my own code, the lidar points are absent, and the related part in the generated glb file is null:
![image](https://user-images.githubusercontent.com/8855474/57698876-3dbe7580-7689

[2019-05-15 08:03] truewhite opened #452 "Xviz example server crash"
When I run run-kitti-example.sh to open an xviz server and then try to run the yarn start-streaming under streetscape.gl/examples/get-started, the xviz server crashes with the following error: Why is this?

[code]

[2019-05-15 16:49] rdecarreau commented on #400
Similar situation here, I run the command `yarn bootstrap` command but it says No such file or directory. Seems like there is a step missing in the quickstart. Running yarn in other directories like the examples directory just says there are no scenarios.

[2019-05-15 18:11] twojtasz commented on #452
It should not. Seems a problem with the data it is expecting.  In this case it is trying to decode the saved GLB files, which should have a JSON chunk. Inside that object it should have an 'xviz' key, but here `this.json` is undefined for some reason.

Could you upload the 1-frame.glb and 2-frame.glb from your `generated/kitti/....` directory?

We are working on tools that will allow you to quickl

[2019-05-15 18:14] twojtasz commented on #450
@pkulijing I believe this is a bug that is fixed in https://github.com/uber/xviz/commit/8252902afbaf14a13b706a379f1660f084217d6b

I am waiting for another change to land then I can release a new beta.

[2019-05-15 18:43] twojtasz commented on #450
I just published **v1.0.0-beta.13**. Please update and try again. Thanks!

[2019-05-15 18:44] twojtasz commented on #452
You may want to try with **v1.0.0-beta.13**. It fixed a few other bugs and with luck may help you.

[2019-05-15 18:46] twojtasz commented on #445
@MatthiasThDs can you elaborate on what you where hoping to do?  Knowing what you hoped to do with the GLTF would help determine what level of integration would be useful.

[2019-05-16 00:40] twojtasz opened #454 "Change from **Frame** to **Message**"
The concept of **Frame** was originally a "frame" of data (or a data frame).
Normally we are talking about a **message**, (general XVIZ message which can be metadata or state_update, in a more expanded view could be any XVIZ message like start, transform_log etc)

Therefore to align with the rest of the XVIZ spec lets move from **Frame** -> **Message**.

Here is a list of places where we reference

[2019-05-16 01:19] Pessimistress commented on #454
I think it's ok for the synchronizer to keep using `frame` because what's returned is an aggregated result from multiple messages. Either way we need to differentiate this concept from `message`.

[2019-05-16 02:57] truewhite commented on #452
Here is my 1-frame.glb and 2-frame.glb file，I tried v1.0.0-beta.13 but it failed.
[2011_09_26_drive_0005_sync.tar.gz](https://github.com/uber/xviz/files/3185206/2011_09_26_drive_0005_sync.tar.gz)

[2019-05-16 05:52] xuzidi opened #455 "Error when using converters"
~/project/xviz/examples/converters/kitti$ yarn start -d ~/project/xviz/data/027/ -o ~/project/xviz/data/07
yarn run v1.15.2
warning package.json: No license field
$ node ./src/index.js -d /home/autowise/project/xviz/data/027/ -o /home/autowise/project/xviz/data/07
/home/autowise/project/xviz/data/027/ /home/autowise/project/xviz/data/07
Converting KITTI data at /home/autowise/project/xviz/data/027

[2019-05-16 06:27] MatthiasThDs commented on #445
Hi,
basically I wanted to check what is inside of them. I expected to see the radar point cloud data somehow. Even though I understand now that there are multiple dataparts inside. But at that point I was not sure if everything needed had to be stored per frame. But that there is a need to store radar points for each frame was pretty clear. Anyway, a search for *.glb brought me to the Khronos webs

[2019-05-16 17:32] twojtasz commented on #455
this msg appears to be a glibc msg.  What version of node are you using?  You may want to try +/- 1 major version.

Can you make a minimal test case?  that way I can reproduce and look into.  It is unclear if this is KITTI or if you might just be reusing that code for your own data.

[2019-05-16 17:34] twojtasz commented on #452
@truewhite ok, so I believe this is related to `@loaders.gl` which was recently upgraded and a problem it has with `TextDecoder`.

I ran into this and used node v11 and the problem went away (also I did a `yarn bootstrap` to make sure everything was up-to-date).

Can you try with node 11 and let me know. In the meantime i'll see if I can get `@loaders.gl` fixed

[2019-05-16 17:36] twojtasz commented on #454
@Pessimistress I agree.  I'll update on exactly what I plan to change to Message and what will remain Frame.

[2019-05-16 17:42] twojtasz commented on #445
Great, thanks.

I feel pretty strong about making this standard compliant with gltf. as far as the geometry data is concerned.  One issue is that XVIZ has multiple samples over time (or could in a single message) which complicates things a bit as I know gltf supports animation but the mapping is not clear to me.  Plus XVIZ has metric data (velocity, etc) which i'm not sure how it would translate.

[2019-05-16 17:57] ibgreen commented on #445
Translating all the XVIZ geometry to glTF primitives is a lot of work it should not be hard to:
- make each point cloud into a glTF conformant mesh/scenegraph node
- we could have the timestamp as an annotation and part of the node name/id.

A good 3D viewer should show the list of scenegraph nodes in a side panel and let the user view them one by one by clicking check boxes.

- We could also crea

[2019-05-17 03:58] truewhite commented on #452
When I use node v11, the xviz server no longer crashes. I used node v8 before.

But I suspect this data conversion is problematic because the visualization of the streetscape.gl client is not what I expected.

Below is the display of the streetscape.gl client
![Screenshot from 2019-05-17 11-56-46](https://user-images.githubusercontent.com/50393648/57902229-e5f75880-789a-11e9-8b68-ae611d10539a.png)

[2019-05-17 11:17] xuzidi commented on #455
Thanks for replying.
1. I used KITTI data set.
2. That error happened using node -v 10. * Then I updated node to the latest version v12.2.0 and ran yarn and a new error happened.
info fsevents@1.2.9: The platform "linux" is incompatible with this module.
info "fsevents@1.2.9" is an optional dependency and failed compatibility check. Excluding it from installation.
[3/4] Linking dependencies...
[4/

[2019-05-17 16:59] twojtasz commented on #452
@truewhite thanks for validating.  I have not seen this math.gl error.  I feel the streetscape.gl issue is likely something else (which I need to try to repo).

Also, this is highlighting a need to be able to validate XVIZ and serving w/o streetscape.gl, which I will be working on in the next phase (starting in a few weeks).

The only suggestion I can make would be to do the same for streetscape.g

[2019-05-17 17:03] twojtasz commented on #455
@xuzidi  Thanks for that info, I need to do a round of linux testing and will try to follow this flow.

For rosbag we will be releasing a module (next week) to assist in visualizing ROS.  Ideally you will get some value out of the default setup, but there will be some configuration and customization for messages we don't handle by default.

[2019-05-17 17:08] twojtasz opened #456 "1.0 Release punchlist"
# code complete tasks
- [ ] @xviz/io module #435
- [ ] @xviz/server release #453
- [ ] @xviz/ros release ?
- [ ] state_update type  #446
- [ ] log_info schema #448
- [ ] @loaders.gl v1.1 update

- [ ] alititude and maps (streetscape.gl) [320](https://github.com/uber/streetscape.gl/pull/320)

# Prerelease package
- [ ] Frame -> Message renaming post landing #454

- [ ] changelog
  - Mainly new modu

[2019-05-20 01:23] truewhite commented on #455
@twojtasz ok, Thank you for your assistance, I think it may be a problem with my data source, let me try it again.

[2019-05-20 01:34] truewhite commented on #452
ok, thanks for your assistance, maybe there is a problem somewhere, I will try it again.

[2019-05-20 12:52] tower111 opened #457 "Set the number of points in the point cloud"
All point cloud loading speed is too slow, I need to load some points, how do I need to set it?
Is there a parameter available?
thank you

[2019-05-20 18:02] twojtasz commented on #457
@tower111 What data set are you using?  Is this KITTI or your own?  You would have to sample the data.  There is no option to do this currently in any existing code but the conversion code is relatively short and easy to modify.

[2019-05-20 18:06] twojtasz commented on #445
I agree, the animation would be overkill.

[2019-05-20 18:17] enginBozkurt commented on #400
First try  **sudo npm install -g yarn**
Then inside xviz folder, run "**yarn bootstrap**"

[2019-05-21 02:04] tower111 commented on #457
Using kitti data (downloaded from the official website), where is the conversion code?

[2019-05-21 02:33] tower111 commented on #457
@twojtasz Using kitti data (downloaded from the official website), where is the conversion code?

[2019-05-23 03:53] jlisee commented on #454
Yeah I like the split on `frame` is a full picture of the XVIZ world while a `message` is just an update we are getting or creating. In the spec we have a `state_update` which contains `stream_set` a message is actually can either be a `state_update` or a `metadata` or several other things.  So one possible option is:

[ ] builder **getMessage**()
[ ] xvizWriter **writeMessage**()
[ ] synchronizer

[2019-05-23 04:00] jlisee commented on #380
@twojtasz is making progress building out the server code infrastructure:

 - #435 - the IO module
 - #453 - the server module

Next up is a formal version of his ROS code.

[2019-05-23 04:35] jlisee commented on #445
One change I would like to make along this lines is moving from the root `xviz` property to placing that data in the official extensions section.  This would make the JSON section of the GLB match the specification which should provide more support.

Then we can add a "compatibility mode" to the GLB writer that generates these extra scene nodes and meshes to allow for viewing the data itself in an

[2019-05-23 05:42] twojtasz commented on #456
joe is working on his review of io & server

[2019-05-23 08:33] Questionboy opened #460 "can xviz server connect kafka as datasource"
hi,
I collect data from kafka. so, can xviz connect kafka and transform the data to xviz protocol?

[2019-05-23 15:26] ibgreen commented on #445
@jlisee @twojtasz and I went back and forth on this in the initial implementation. Our conclusion was that non-standard top-level attributes **are permitted** by glTF and we felt that the XVIZ data is not really a proper "glTF extension". But we could have gone either way.

If we are making XVIZ into an extension we could try to define what the goal is with that. We could have a global extension b

[2019-05-23 19:11] twojtasz opened #461 "Add flow type annotations to all modules"
Type annotations are very helpful and used in some of our related projects.  They should be added to XVIZ even if just to document type expectations more than we do today.

[2019-05-24 20:27] twojtasz commented on #445
@ib while permitted, other libraries may not support arbitrary top-level entries.  So since it has extensions and extras they seem appropriate and a minor structural change.

The **extra** vs **extension** i thought we discussed before but lost the thread. I recall leaning toward extra as this is "application" specific data.  However, if we have plans (which we seem to) to integrate more in the gl

[2019-05-24 20:37] twojtasz opened #463 "Define how XVIZ could map onto glTF"
Leveraging glTF for binary data only is convenient but there are a lot of other benefits that could be had if we integrate deeper with glTF.

The precise mapping is a bit unclear so we need to investigate and see what makes the most sense and what the critical workflow would be.

Do we have a compatible glTF output that is only glTF and no XVIZ specific data.  Or do we have an XVIZ extension that

[2019-05-24 22:08] ibgreen commented on #445
@twojtasz Top-level extension should be fine for now. Node-level can be added later and should be more granular.

[2019-05-24 22:22] twojtasz commented on #460
@Questionboy that is not something we provide out of the box.  We will be releasing an XVIZ server module which you should be able to use to implement a connection to a kafka stream and convert to XVIZ and send down the websocket to the client.

[2019-05-24 22:24] twojtasz commented on #454
@jlisee i'm plan on going with what you proposed, and providing deprecated functions to avoid breakage but they will not be documented.

[2019-05-25 06:52] Questionboy commented on #460
thank you, look forward to it.

[2019-05-27 06:39] speaktobrijesh opened #465 "Examples to load pointcloud data"
Hi,

Currently working with Aeye and we have the requirement to load the point cloud data in XVIZ and to visualize to streetscape.gl application.
currently we have the point cloud data in float32Array. Looking for any examples how to load the point cloud data in XVIZ as its currently coming from live sensor.

Thanks.

[2019-05-28 13:22] pkulijing opened #466 "Serious memory leak caused by websocket package"
The example server uses [ws](https://www.npmjs.com/package/ws) to implement the websocket server. I wrote my own live server based on the example, and noticed that the server suffers from serious memory leak when network bandwidth is insufficient.
The issue is not difficult to reproduce. Run the server in live mode, and let multiple clients (i.e. streetscape.gl front end) connect to it. When the b

[2019-05-28 13:38] pkulijing commented on #465
Here is the code I used to transform lidar data contained in ros msg in `/sensor_msgs/PointCloud2` format ([doc](http://docs.ros.org/melodic/api/sensor_msgs/html/msg/PointCloud2.html))

The key is to select from your data the xyz and rbga of the points. If your data only contains an intensity value, you should make up an rgba like I do below.

    load_lidar_data(lidar_msg) {
        let points_bi

[2019-05-28 18:38] twojtasz commented on #454
https://github.com/uber/xviz/pull/467 implements this change

[2019-05-28 19:08] twojtasz commented on #466
Thanks for the details.  I was planning on allowing the server implemention to be swapped out (by providing an instance of another server.  Looks like I should accelerate this feature and look at other websocket server implementations.

[2019-05-28 21:25] twojtasz opened #468 "Remove the requirement for a `/vehicle_pose` to be defined"
While the primary use case has been autonomous vehicles, there are time when looking at data without a vehicle is useful.  We should support such usage and remove the need for a `/vehicle_pose` to be defined.

[2019-05-28 22:33] #454 closed

[2019-05-28 22:37] #434 closed

[2019-05-29 03:10] xuluxi commented on #452
I am encounter the same problem

[2019-05-29 18:55] jlisee commented on #468
Another angle is that if we send 100 messages/second it should be OK if only some of them have pose in them.

[2019-05-30 03:41] YunjieYu commented on #452
Hello,
I am also experiencing the same issue.  My environment is Ubuntu16.04, node 10.
When I follow @truewhite's operations, i.e., running ./scripts/run-kitti-example.sh to convert KITTI data and open an xviz server, and then running the yarn start-streaming under streetscape.gl/examples/get-started, the xviz server crashes with the same error: TypeError: Cannot read property 'xviz' of undefined.

[2019-05-30 03:43] YunjieYu commented on #452
Hello,
I am also experiencing the same issue. My environment is Ubuntu16.04, node 10.
When I follow @truewhite's operations, i.e., running ./scripts/run-kitti-example.sh to convert KITTI data and open an xviz server, and then running the yarn start-streaming under streetscape.gl/examples/get-started, the xviz server crashes with the same error: TypeError: Cannot read property 'xviz' of undefined.

[2019-05-30 03:44] YunjieYu commented on #452
Hello,
I am also experiencing the same issue. My environment is Ubuntu16.04, node 10.
When I follow @truewhite's operations, i.e., running ./scripts/run-kitti-example.sh to convert KITTI data and open an xviz server, and then running the yarn start-streaming under streetscape.gl/examples/get-started, the xviz server crashes with the same error: TypeError: Cannot read property 'xviz' of undefined.

[2019-05-30 03:48] YunjieYu commented on #452
Hello,
I am also experiencing the same issue. My environment is Ubuntu16.04, node 10.
When I follow @truewhite's operations, i.e., running ./scripts/run-kitti-example.sh to convert KITTI data and open an xviz server, and then running the yarn start-streaming under streetscape.gl/examples/get-started, the xviz server crashes with the same error: TypeError: Cannot read property 'xviz' of undefined.

[2019-05-30 05:38] jrabary opened #469 "KITTI to XVIZ fails"
I'm trying to convert kitti by following the documentation but it fails with the following error
[code]

[2019-05-30 05:50] YunjieYu commented on #452
## Result
![1](https://user-images.githubusercontent.com/44226851/58611492-e43d8400-82e1-11e9-823a-02b857b8b7c6.png)

[2019-05-30 14:24] pkulijing opened #470 "What is the recommended version of nodejs?"
I've been using node 11 in my development. Since it's not a LTS, I decide to downgrade to node 10. But the app no longer works.  The following code provides a minimal reproduction of the problem:

    'use strict';
    require('@babel/register');
    require('babel-polyfill');

    const XVIZWriter = require('@xviz/builder').XVIZWriter;
    const XVIZMetadataBuilder = require('@xviz/builder').XVIZ

[2019-05-30 14:37] pkulijing commented on #469
I think you need to run `npm install` in `example/converters/kitti`

[2019-05-30 18:42] twojtasz commented on #470
I will try your example. I would expect that our modules include the appropriate polyfill where necessary, although you may be able to work around it by including it in your project for the time being.

[2019-05-30 19:10] ibgreen commented on #470
Summary: Yes, going forward, my recommendation is that XVIZ modules should import `@loaders.gl/polyfills` directly for any modules that are mainly intended to run under node.

Long story:

The initial version of `2loaders.gl/core` automatically installed the `TextEncoder` polyfills under Node.js, however the polyfills we use are quite big and there were subtle bundler-dependent issues that sometim

[2019-05-31 02:20] pkulijing commented on #470
Thanks for the help. I required `@loaders.gl/polyfills` in my project and now it works.

[2019-05-31 03:14] twojtasz commented on #470
I was able to reproduce. I'm waiting on some dependent changes and should have a fix in for our next beta release. in a day or so

[2019-06-01 11:07] ziyadk1997 commented on #388
im having the same problem can someone elaborate more on how to fix this problem

[2019-06-01 19:08] twojtasz commented on #470
@pkulijing I tested with the latest with node v10 and I didn't run into the problem.  We updated a dependency that I believe may have been causing an issue with some globals.

[2019-06-01 19:08] #470 closed

[2019-06-01 19:09] twojtasz commented on #469
@jrabary What this the **Quick Start** instructions?  I realized the script to run the kitti setup didn't run `yarn` so I added it.  That should avoid this happening in to others. Thanks!

[2019-06-01 19:09] #469 closed

[2019-06-01 19:13] twojtasz commented on #465
@speaktobrijesh This may help https://avs.auto/#/xviz/getting-started/converting-to-xviz/mapping-data-to-xviz/lidar

Are you looking for something ROS related or more general?

[2019-06-01 19:15] twojtasz commented on #457
@tower111  https://avs.auto/#/xviz/getting-started/converting-to-xviz/mapping-data-to-xviz/lidar describe the lidar data conversion.

You can find the conversion code @ https://github.com/uber/xviz/tree/master/examples/converters/kitti

[2019-06-01 19:16] twojtasz commented on #450
@pkulijing I believe this is fixed and was a problem with just the beta.9 release

[2019-06-01 19:16] #450 closed

[2019-06-01 19:18] twojtasz commented on #400
@jhx646018057  you should not be running`yarn bootstrap` in the `scripts` directory.    Just in the xviz repo root.

[2019-06-01 19:20] twojtasz commented on #400
@rdecarreau Please make sure yarn is installed as @enginBozkurt explained, then run from the **root** directory. Let me know if it works or not.

[2019-06-01 19:24] twojtasz commented on #388
@ziyadk1997 I just ran with node v10.15.3  yarn 1.10  the following on mac and it appears to have worked.
[code]

[2019-06-01 19:24] twojtasz commented on #388
let me know  how your setup is different.

[2019-06-02 09:28] jrabary commented on #469
@twojtasz Thanks, indeed running yarn was missing in the documentation.

[2019-06-03 05:38] twojtasz commented on #413
There was a recent report about a bug in the websocket module we are using #466   Not sure if this is related.

[2019-06-04 13:04] #460 closed

[2019-06-05 15:27] AndyBoat opened #478 "Live streaming source converter example or specification needed"
Hi I am an soft engineer interested in this great project.
I've noticed  the word "Real-Time  Transfer and Visualization of Autonomy Data"  in ur website and  ur spec also named out that a running system source  is supported , but I cant find any example or spec about how to create a converter from a running system source in this project, while there are two types of  static log file converter in

[2019-06-09 05:39] tower111 commented on #457
thanks.
I found it below
Xviz-master/examples/converters/kitti/src/parsers/parse-lidar-points.js

I changed the contents of the file to the following.
STEP is the number of points to display.
I think the better way to improve it is to have fewer points in the distance and more in the near.

[code]

[2019-06-11 02:52] truewhite opened #479 "Is there a repetition of timestamp, is there any understanding error?"
Both the streamset and the pose contain timestamp information. Is this repeated?
![Screenshot from 2019-06-11 10-50-27](https://user-images.githubusercontent.com/50393648/59240421-fa7b0680-8c36-11e9-8234-b5cdc7aae6f5.png)
![Screenshot from 2019-06-11 10-47-43](https://user-images.githubusercontent.com/50393648/59240424-fcdd6080-8c36-11e9-8ac1-282d68bdf333.png)
![Screenshot from 2019-06-11 10-47-06

[2019-06-11 07:51] KevinYuk commented on #26
Hi @twojtasz ,

I find that in the kitti example, you guys fill the field like below which is different as you said here. Could you please explain it? Thanks a lot.

`    resMap.pose = {
      timestamp,
      latitude: Number(lat),
      longitude: Number(lon),
      altitude: Number(alt),
      roll: Number(roll),
      pitch: Number(pitch),
      yaw: Number(yaw)
    };

    resMap.velocity = {

[2019-06-13 10:09] pkulijing opened #480 "RangeError: Offset is outside the bounds of the DataView"
I came accross this error after upgrading to the newest version from 1.0.0-beta.8. I tried to google the problem and it seems to be a long-existing problem in the nodejs community. I will try to construct a minimal reproduction ASAP.

    RangeError: Offset is outside the bounds of the DataView
        at DataView.getUint32 (<anonymous>)
        at getBmpSize (/home/julienjli/Developer/xviz-conver

[2019-06-13 10:14] pkulijing commented on #450
I can confirm that the problem no longer exists in beta.16.

[2019-06-14 09:23] pkulijing commented on #480
[test.tar.gz](https://github.com/uber/xviz/files/3289945/test.tar.gz)

I'm able to reproduce the issue with the following piece of code:

    import {XVIZBuilder, XVIZMetadataBuilder} from '@xviz/builder';
    import {XVIZBinaryWriter} from '@xviz/io';
    import {FileSink} from '@xviz/io/node';

    const builder = new XVIZBuilder();
    const xvizWriter = new XVIZBinaryWriter(new FileSink("/tmp"

[2019-06-14 09:25] pkulijing commented on #480
What's more, the `TextEncoder constructor called with encoding label, which is ignored.` warning message is kind of annoying.

[2019-06-20 18:29] twojtasz commented on #480
@pkulijing yes, I know.  I"ll try to remove that message shortly.  It is in a dependency of ours now

[2019-06-20 18:30] twojtasz commented on #480
This is weird, thanks for the repro case.

[2019-06-20 18:34] twojtasz commented on #479
Yes.  The short history is we used to rely on the `/vehicle_pose` timestamp, but
1. there could be multiple poses eventually
2. there could be _no_ poses eventually
3. we wanted the timestamp to be at the streamset level

Furthermore, the streamset represents whatever you want to display at that time.  However it could have data that comes from different times, so there are other places where time

[2019-06-20 18:42] twojtasz commented on #478
Since this system requires a *conversion* to XVIZ, there has to be a piece of software that performs this conversion somewhere.  That is *Step 1*.  *Step 2* is the transferring of that data to a client, in our examples we use a websocket server to communicate with.

With those satisfied you can stream live data to the web application. If your platform is ROS based, various people on our slack room

[2019-06-21 05:12] #479 closed

[2019-06-21 05:20] truewhite opened #483 "How to efficiently deliver real-time image data？"
I tried to pass the real-time camera image to the xviz server, but the bmp image is too big. Is there any good way to pass the data quickly?

[2019-06-21 05:23] truewhite commented on #483
The way I can think of is to perform jpeg compression on the image, although the encoding requires a certain amount of time cost, affecting the real-time nature of the system.

[2019-06-21 19:53] twojtasz commented on #483
@truewhite This is always going to be a challenging problem.  The best options are to encode efficiently, and reduce size (size or resolution).  Of course, this assumes you are sending the data in the binary efficient GLB format and not JSON with base64 encoding.

[2019-06-25 01:29] KevinYuk opened #485 ""plot region" doesn't work"
Once run plot region, streetscape.gl crash!!!
[code]

[2019-06-25 03:16] LinLidi opened #486 "How can I convert my dataset into xviz protocol?"
Hi,
I have just start a streetscape.gl example with xviz stream data which is kitti dataset, if I want to convert my dataset into xviz protocol, maybe json files, are there anything guides?
Thanks.
Best wishes.

[2019-06-27 19:18] jon-tri commented on #486
Have you already looked at this: https://github.com/uber/xviz-data ?

[2019-06-28 07:12] LinLidi commented on #486
@jon-tri I had got it. thanks so much.

[2019-06-30 18:42] cmpute commented on #33
Is there any preliminary code sample that you have been working on? I'm looking for a python data server for xviz. If not, I also want to contribute to build a python based data provider using websocket

[2019-07-01 20:45] cmpute commented on #478
Hi @twojtasz , thanks for you work on this. I want to write a python server to serve our data and I meet similar problem. Is there any documentation for live data stream? Does the data feed from websocket differ from ones contained in the `.glb` files? Actually as long as the protocol is clear for live stream, I can quickly build a python server/converter.

[2019-07-02 02:01] qinchaofeng commented on #460
looking forward  too

[2019-07-02 18:05] twojtasz commented on #419
With **@xviz/ros** and the **@xviz/server** I hope we can make this better supported and documented as connecting to a live system is important.

There are some features we need to add to XVIZ/Streetscape.gl that can remove the current overhead/configuration hopefully, but that will have to come over the next few months.  I'll be working on a roadmap for this and related work and should have somet

[2019-07-03 14:41] cmpute opened #489 "Is there any specifications about Map rendering?"
Currently XVIZ protocol only offer ability to transfer vehicle GPS location, and streetscape.gl render the base map on Mapbox. However map from Mapbox is not precise enough for AV, is there any way to render our own high-definition map (e.g. with clear lane info)? If not, is there any plan to support this?

I'm not sure whether this issue is related to XVIZ or streetscape.gl. I think it would be b

[2019-07-05 02:47] zyqqqq opened #490 "Why can the client receive only one .glb file when live mode is turned on?"
When both server and client are turned on in live mode, the client can only receive one .glb file(metadata), But the remaining .glb file(state_update)  cannot be receive . How can I receive all. GLB files?  And Why still need a JSON file to record timestamps when Live mode is turned on？

Here are the commands I used to turn on live mode
![server](https://user-images.githubusercontent.com/37929979/

[2019-07-08 15:17] twojtasz opened #491 "ROS message conversion needs access to /tf and /tf_static"
ROS messages include a frame_id, which is a named transform.

Currently the @xviz/ros package provides a map of names to transforms when constructing metadata but it is needed for dynamic transforms at **convertMessage()** time in the Converters.

The plan is to add a **transforms** parameter to the **convertMessage()** method and ensure that the data from those streams is provided to converters.

[2019-07-08 15:35] twojtasz commented on #490
That should not be the case. Let me try to reproduce

[2019-07-08 15:43] twojtasz commented on #489
We do have an example for how to extend the streetscape.gl app to add a new layer that can display additional data, such as GeoJSON.

https://avs.auto/#/streetscape.gl/advanced-topics/add-custom-3d-layers?section=render-custom-map-layers

There is a feature to add persistent data which one use-case is for vector based rendering of map features using the existing XVIZ primitives.  This can go far,

[2019-07-08 15:44] #486 closed

[2019-07-08 15:50] twojtasz commented on #483
@truewhite Is there anything else you think to be done on this issue?   I will restate that sending as png/jpeg with the GLB format should greatly improve your performance.  However, now matter what you do, there will be some lag introduced, so that really needs quantified and then measured for your use-case.   Is 100ms delay ok, for example.

[2019-07-08 17:12] LGlayama opened #492 "Run ROS example"
I try to follow the Basic ROS Example to convert ros data to rviz. But I failed to see the visualization at  http://localhost:8080/kitti_2011_09_26_drive_0005_synced. The error message show "Cannot GET /kitti_2011_09_26_drive_0005_synce".

I converted kitti data to ros bag, generate the config file and then replace it as the example 1, is there anything wrong?

[2019-07-08 19:02] cmpute commented on #489
Thanks for your reply. Actually by now I didn't need to render a large map in that scale, currently I just want to render a small map for simulators (I use CARLA). In CARLA, the map is in OpenDrive format. Besides, other platforms, such as Autoware, have their own vector HD map.

I didn't notice that advance topic, thanks for referring that. However, that may be a bit hard for me since I'm not qui

[2019-07-09 08:15] roarcurry commented on #480
I also have met this problem.

When I run the kitti converter example: `yarn start -d <path> -o <path>`, it comes error:
[code]

then I disabled image streams like `yarn start -d <path> -o <path> --disable-streams=image_00,image_01,image_02,image_03`. it started well at first, when progress comes to 90/150,  then error occured:
[code]

I use absolute path and it is correct.
Hope for reply, Thanks!

[2019-07-09 13:56] gerardsimons commented on #415
Yes please! This would help me too.

[2019-07-10 02:11] EvanLind commented on #469
@twojtasz I run `yarn` or `yarn install`,and it returns *done*,but there still cannot' find module './dist/es5/node'
[code]

[2019-07-11 09:12] roarcurry commented on #490
It seems that the instance of XVIZLiveLoader in `streetscape.gl/examples/get-started/src/log-from-live.js`  lacks of one property "session_type: 'live'".
Because in line 120 of `xviz/modules/server/src/server/xviz-provider-session.js`,  `params.session_type` is `undefined`.

[2019-07-12 01:32] jlisee commented on #415
We are getting more internal requests for this as well.  @gerardsimons the basic sketch for this would be:

 - add an `orientation` to the image type (or maybe a `transform` field for all objects)
 - clearly define what part of the image the position represents
 - define a `width` and `height` for the billboard the image is displayed on

[2019-07-12 01:58] jlisee commented on #483
I also recommend a two level approach:
 - By default send a reduced resolution and/or lower rate image to provide context
 - When needed send a configuration command to your server to have it switch into high resolution mode, generally for just a single image/camera stream instead of all of them

In reality most users are looking at images at a reduced resolution on screen, so it does not make sen

[2019-07-12 06:28] zyqqqq commented on #490
I did it!!!!  thank you very much

[2019-07-12 06:28] #490 closed

[2019-07-13 09:33] truewhite commented on #483
What I am doing now is to reduce the resolution to transfer images. I didn't think of other good methods. The general jpg/png encoding is too slow. If you can speed up encoding through gpu, it might be better, but it has not been done yet.

[2019-07-13 09:36] truewhite commented on #483
@jlisee This may be a good approach, and I am currently using a way to reduce the resolution.

[2019-07-14 11:32] jlisee commented on #483
We have not tried this but since any image the browser supports should work, you should be able to send `bmp` images too.  Which don't require any image compression, just at most pixel format conversion, so it should be considerably faster, at the cost of a 2-10x bandwidth jump.

[2019-07-16 18:45] zied1A commented on #432
Hi , did you find a solution for this issue ?

[2019-07-16 21:56] twojtasz commented on #492
@LGlayama can you check the url.

You should see an attempt on the server terminal to connections and if it could not find something.
On the Browser if you open the developer console you may see something in the console window, or in the Network -> WS panels (in Chrome) with more information about the websocket connection adn messages.

Any screenshot on this would help.

[2019-07-16 21:59] twojtasz commented on #489
We are hoping to find a way to support open drive.

The easiest would be to get the opendrive into geojson and then add that to the app per the instructions above.  However there is still some complexity to working out details as I have not done it myself yet.

If you give it a go ping me with any issues and I'll try to help.

Longer term (~2months) I hope to have some info on open drive or transf

[2019-07-16 22:06] twojtasz opened #497 "Draco as an external dependency"
Draco has a high cost in terms of our webworker bundle and since it is rarely used currently (due to the performance of decoding) I removed it before our 1.0 release.

Instead of being a direct dependency no it has to be passed in to the builder. For parsing, we are planning on enabling a few options.  One option is to have a URL reference to a CDN release that can be fetched by the worker at runt

[2019-07-18 06:53] EliotCao commented on #432
pls reference: https://github.com/uber/xviz/issues/399#issuecomment-489401641

[2019-07-21 13:40] jasoues opened #501 "Error when using xvizros configuration"
~/xviz/examples/converters/ros$ node index.js -d ../../../data/kitti/ --rosConfig config-1.json
internal/modules/cjs/loader.js:628
    throw err;
    ^

Error: Cannot find module '../build/Release/sharp.node'
Require stack:
- /home/jasser/xviz/node_modules/sharp/lib/constructor.js
- /home/jasser/xviz/node_modules/sharp/lib/index.js
- /home/jasser/xviz/modules/ros/dist/es5/messages/sensor-image-con

[2019-07-22 13:25] didibaba opened #502 "WebSocket lag is large in live mode"
We are trying to provide the xviz server live data, including async data from different sources. However, the latency in streetscape view is up to 2 seconds.

We are wondering if this is normal situation?

Thanks a lot.

[2019-07-26 07:20] EgalYue opened #505 "color map for lidar points?"
Hi all,
Dose anyone knows how to get a **colorful lidar points map**, like following:

![color](https://user-images.githubusercontent.com/19492574/61933457-81eac200-afb8-11e9-901a-67171e8a6c62.png)

I know the code is here:
https://github.com/uber/xviz/blob/e11f245a9cab6d5627a2c0113effb967bdb7e294/examples/converters/kitti/src/parsers/parse-lidar-points.js#L47

but i dont know **the function betwe

[2019-07-28 20:04] jasoues commented on #501
Uninstalling node.js 12 and installing node.js 10 resolved the problem

[2019-07-29 07:51] DaHaiHuha commented on #400
I'm sorry but i tried and come into the same bug problem

[2019-07-29 08:14] DaHaiHuha opened #506 "yarn bootstrap failed"
As in the issue #400, I've come to the similar problem
First I install Node.js and npm and yarn (all the latest versions), the versions are as follows
[code]
then I run the command `yarn bootstrap` and I got below:
[code]
This is on the Ubuntu16.04 and sincerely hope and thanks that anyone who can give me a solution and i'm willing to contrubute to this project as much as I can, this tool is cool

[2019-07-29 22:17] dks333 commented on #506
Same issues. Any advice?

[2019-07-29 23:10] dks333 commented on #506
Try it on node 10.16.0

[2019-07-30 01:44] DaHaiHuha commented on #506
no good

# alfredo @ alfredo-Ubuntu in ~/gits/xviz on git:master x [9:38:41]
$ node -v && nodejs -v && npm -v && yarn -v
v10.16.0
v10.16.0
6.9.0
1.17.3

# alfredo @ alfredo-Ubuntu in ~/gits/xviz on git:master x [9:38:43]
$ yarn bootstrap
yarn run v1.17.3
$ yarn && ocular-bootstrap
warning package-lock.json found. Your project contains lock files generated by tools other than Yarn. It is advised no

[2019-07-31 22:09] Qi2013 commented on #506
I had a similar problem. It seems caused by a version of 'sharp' required by xviz. Sharp does not support node@12 before 0.22.1.
I solved the problem by changing the version of 'sharp' required by xviz/ros/ modules from 0.20.8 to 0.23.0, which is the same version required by the main xviz module.

My solution is inspired by the following discussion:
https://github.com/yarnpkg/yarn/issues/7265

[2019-08-04 06:26] DaHaiHuha commented on #506
I found the problem solved by down grading node to 10.15 which is listed in the package.xml, and the n other problems can be fixed one by another.

[2019-08-05 02:26] EliotCao commented on #469
have you solved this problem?

[2019-08-05 07:02] EliotCao commented on #469
This problem is caused by missing XVIZ/IO ,you could deal it by add @xviz/builder to the KITTI converter example's package.json. like as 'yarn add -D @xviz/builder' in kitti example foloder.

[2019-08-05 07:05] EliotCao commented on #469
The problem is caused by missing XVIZ/IO, you could deal it by add @xviz/builder to the KITTI converter example's package.json like as "yarn add -D @xviz/builder".

[2019-08-05 07:22] dbruggner opened #508 "Support for Ellipse/Ellipsoid Geometry Primitive"
In https://avs.auto/#/xviz/protocol/schema/geometry-primitives there are different geometry primitives defined. But it seems that an ellipse/ellipsoid type is currently not supported in XVIZ. This type is very important to show the uncertainty of state estimates of objects in the scene which is mostly represented as a covariance matrix.
Could support for ellipse/ellipsoid geometry primitive be add

[2019-08-05 13:14] jlisee commented on #508
Yes this is something I had wanted to add to XVIZ as well.   Would a flat ellipse be good enough for now?

[2019-08-06 06:34] dbruggner commented on #508
I think a flat ellipse will be a good start. Nevertheless, in the end only one ellipsoid type should be necessary.

[2019-08-06 07:08] user-Mrh opened #509 ""get-started" error on virtual machine"

[2019-08-06 07:10] #509 closed

[2019-08-09 07:07] EliotCao commented on #400
I have also a problem about 'yarn bootstrap'.
V:\Workspace\AVS\XVIZ\xviz-1.0.0-beta.19>yarn bootstrap
yarn run v1.15.2
$ yarn && ocular-bootstrap
[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
info fsevents@1.2.9: The platform "win32" is incompatible with this module.
info "fsevents@1.2.9" is an optional dependency and failed compatibility check. Excluding

[2019-08-09 07:52] EliotCao commented on #400
**> The system cannot find the path specified.

it may related to schema, and I have noted that after 'yarn' or 'yarn bootstrap', there is no dist directory in module schema and other modules. but I don't know why.
fs.js:114
    throw err;
    ^
**Error: ENOENT: no such file or directory, open 'V:\Workspace\AVS\XVIZ\xviz-1.0.0-**beta.19\modules\schema\dist\schema.json

[2019-08-12 07:26] Algirdyz commented on #480
I'm having this issue. Any tips on workaround until fixed? I've tried rounding my coordinate numbers but it just reduces the frequency of the error. I get it eventually anyway.

[2019-08-12 08:56] pkulijing commented on #480
I tried but was unable to walk around it. I'm sticking to version v1.0.0-beta.8 before a solution is provided.

[2019-08-12 21:12] twojtasz commented on #480
So the original issue is caused because the encoding of the float value -41.211910247802734 as 32-bit float is 0xC224D8FF in hex.  When stored in little-endian that is store as 0xFF 0xD8 0x24 0xC2.  When we read the buffer to *detect* if the data is an image we get a false positive and thus the reset of the errors.  (huge 🙇 to @pkulijing for the repro case)

I have a fix for @loaders.gl/image that

[2019-08-12 23:21] twojtasz commented on #480
Verified the fix locally, but there are other number patterns that can trigger a false positive.  I need to look in to adding more smarts.  I want to see if this address the current active issues and then prioritize the general fix based on that.

[2019-08-15 08:12] KevinYuk opened #513 "How could we layout video panel at the upper right corner as illustrated by the picture below?"
![image](https://user-images.githubusercontent.com/20220399/63081904-651e2a80-bf77-11e9-9c1d-624a10c4e69a.png)

[2019-08-15 21:22] twojtasz commented on #480
@pkulijing @Algirdyz @roarcurry this is fixed in **1.0.0-beta.20**
Please try it out and let me know if you are still experiencing problems.

[2019-08-16 17:23] twojtasz commented on #513
@KevinYuk The starting point is this file
https://github.com/uber/streetscape.gl/blob/master/examples/website-demo/src/camera-panel.js

Follow the code how it is used in the website-demo.

[2019-08-16 17:23] #513 closed

[2019-08-16 18:18] twojtasz commented on #508
@dbruggner We have some new primitives we would like to add, I"ll be sure to add this to the list.

In the meantime, the best you can do would be to approximate it with a polygon.

You can paste the code below in the **frame** text window and see the ellipsoid.  Control+mouseMove to rotate the camera.

[code]

[2019-08-16 18:23] twojtasz commented on #400
I need to get a windows machine to fix this.

[2019-08-16 18:24] twojtasz commented on #506
@Qi2013 thanks for the details on the fix.

[2019-08-16 18:27] twojtasz commented on #505
This is actually a builtin style for point data.
See in the example https://github.com/uber/streetscape.gl/blob/master/examples/get-started/src/constants.js#L53

And the docs at
https://github.com/uber/xviz/blob/master/docs/protocol-schema/style-specification.md#point

[2019-08-16 18:27] #505 closed

[2019-08-16 18:31] twojtasz commented on #492
Hi @LGlayama I also noticed  the path should be  '/kitti_2011_09_26_drive_0005_synced', but your error says **Cannot GET /kitti_2011_09_26_drive_0005_synce**

Please reopen this if you still are having issues.

[2019-08-16 18:31] #492 closed

[2019-08-16 18:37] twojtasz commented on #501
Thanks.  Sharp does seem sensitive to the node version.  It seems node 10.15 works the the current sharp, but if you go to 10.16, we need sharp 0.23.

I'll be adding this to the FAQ until it is fixed.

[2019-08-16 18:37] #501 closed

[2019-08-16 18:44] twojtasz commented on #502
Close as it is duplicated here hhttps://github.com/uber/streetscape.gl/issues/367 and that one has more info.

[2019-08-16 18:44] #502 closed

[2019-08-20 06:53] enginbaglayici commented on #400
I am getting the exact same error, have you found a solution on windows machine?

[2019-08-20 09:09] lodian opened #519 "Support for traffic lights"
Hi. I am trying to provide traffic_lights data to display in the streetscape.gl. But now I don't know how to build xvizMessage with my own traffic_lights data. And I can't understand how the streetscapse.gl work with all kinds streams. It has no changes in the web pages when I modify the code in the traffic-lights-widget.js in streetscape.gl project. And I found that it also can be compiled when I

[2019-08-20 17:21] twojtasz opened #520 "MetadataBuilder and Builder don't support same parameters"
One has objects with named fields the other accepts expanded arguments.  This is an unnecessary difference and we should have alignment and consistency in our API

[2019-08-21 05:44] user-Mrh opened #521 "About docs"
Some links are broken in [source (XVIZ Source) - the source of XVIZ data](https://github.com/uber/xviz/blob/master/docs/api-reference/io/xviz-provider-factory.md) except

[2019-08-21 20:50] twojtasz commented on #521
Fixed in 4edc9da21cd6bb8b7dedec30a312024e35920ee6
Thanks.

[2019-08-21 20:50] #521 closed

[2019-08-21 20:53] twojtasz opened #522 "Support metadata transform on pose streams"
A fixed transform defined in metadata on poses does not appear to be working.

Need to verify and think about how this should work, and if not make sure the exception is documented.

Normally the static transform could be applied directly to the data but if that can be done it could also be a metadata transform too.  But with the pose settings for identity, geospatial, etc along with maporigin vs

[2019-08-24 02:50] jlisee commented on #522
Hmm, we may just want to make this invalid for now, until we decide how to handle it?

[2019-08-28 10:08] pkulijing commented on #480
@twojtasz Using the 1.0.0 version, I'm not seeing the original exception. But there still exists something wrong with drawing polylines. I'm seeing a new exception frequently:

    RangeError: Offset is outside the bounds of the DataView
        at DataView.getUint32 (<anonymous>)
        at getBmpSize (/home/jing/Developer/xviz-converter/node_modules/@loaders.gl/images/dist/es5/lib/image-parsers.

[2019-08-28 13:29] pkulijing commented on #480
In case it may help, I'm able to find a minimal reproduction of the problem:
[test.tar.gz](https://github.com/uber/xviz/files/3551102/test.tar.gz)

In short, it happens when I try to draw a polyline with vertices

[[ 27.28772277585972, 11.732284622432305, 0 ],
[ 25.364206288204883, 11.777934187517136, 0 ]]

[2019-09-05 16:44] alexhultman commented on #466
If you set the idleTimeout to 0 it is disabled. However you really should use it - behavior can be changed to allow the server to send pings (not as distributed as the server need to to more work, but hey).

Other than that I agree, ws is lacking. Feel free to contact me for quotation / brainstorming.

[2019-09-06 02:48] DavidDiosdado opened #525 "xvizserver in live mode"
Hi I am a soft engineer interested in this great project
I am trying to use the xviz server module in live mode with the streetscape getting-started example.  I have ran it in stream mode with some local data I generated myself using ./bin/babel-xvizserver -d ../../data/generated/... and the yarn start-streaming-local in the streetscape example but I can't figure out how to do it in live mode.

Co

[2019-09-08 19:28] twojtasz commented on #525
@DavidDiosdado Could you describe more precisely what *live* mode means to you.

Unfortunately I do not believe our definition of live mode captures what most people may think.  Specifically, it relates to a system that is fundamentally missing some upfront information (like start time and end time.  Which mean we have to accept this information is missing, and the streetscape.gl application needs

[2019-09-10 00:59] DavidDiosdado commented on #525
My system is a python script that generates de json files in the XVIZ protocol in real time. I have tried to start the server using  ./bin/babel-xvizserver -d (dir where the script is storing the files) --live
and then starting streetscape with yarn start-live-local but it didn't work.

I would like to know if this is possible to achieve using the live mode
Thanks for your attention

[2019-09-11 08:20] enginbaglayici commented on #525
Hello, I also want to generate .glb files and directly send it to Uberviewer to visualize data in real time. I can generate .glb files in real time using CAN data but I need some ideas to visualize this data with a frequency. If it possible, what would be the steps to achieve this?
- Have should I edit log-from-file.js?
- Is only one frame.glb enough at a time for visualizing?
- Do I need a json f

[2019-09-17 20:44] eric1221bday opened #526 "Parse Annotations"
Apologies if I missed something, but I have not been able to find any sign of annotation parsing code in the Xviz parser module. The annotation message type seems to be fully defined in the spec, but seems to not be captured in the timeslice parser used when parsing a a stream set. Is this functionality actually implemented?

[2019-09-20 18:50] twojtasz commented on #526
@eric1221bday you have found a gap in the implementation . We have planned for that but the use-case went away and never finished the implementation.

Could you provide a bit more details of your use case?  If there a strong story I can find a spot in the roadmap.

[2019-09-20 19:41] Avkash commented on #349
Hi there, I am having the exact same problem as @DeepTecher & @KevinYuk with "Upgrade required" error on browser.

$ ./scripts/run-kitti-example.sh
##
## XVIZ Server started.
## Ctrl-c to terminate.
##
xvizserver-log: Listening on port 8081

Note: I can also run streetscape.gl > examples/getstart with "yarn start" successfully however not able  to run the "xviz server".
Any idea?

[2019-09-21 23:48] Avkash opened #527 "Error 'max is not a function' with nutonomy data converter"
I got the following error while converting nutonomy datasets:

(node:11957) UnhandledPromiseRejectionWarning: TypeError: (0 , _sharp.default)(...).resize(...).max is not a function
    at max (/Users/avkashchauhan/master/2019/self-driving/xviz/examples/converters/nutonomy/src/converters/process-image.js:57:8)

I did bypass the issue by commenting on the .max() function.
Any suggestion to fix this

[2019-09-25 05:44] eric1221bday commented on #526
@twojtasz Sure, our use case is that we have situations where downstream modules might issue some kind of command or make a decision that we want reflected/visualized on some object that's published on another stream. Other than using annotations there are only a couple of other ways to achieve this, either my backend keeps state and I apply that state on the object while marshalling my xviz strea

[2019-09-29 21:51] WesleyYue opened #529 "How to set up a live XVIZ Provider?"
Hi, I'm trying to set up a toy example of playing back the kitti dataset "live" through rosbag play and I'm not sure how to proceed. I think I can start with rosbag-provider.js, and modify it to subscribe to a rostopic as a rosnode through something like roslibjs. However, I'm stuck and I have a few questions:
1. For the Provider, I'm not sure what I'm should be doing with getMessageIterator(), sh

[2019-10-04 10:29] balag3 opened #530 "Xviz server installation as a dependency not working"
I would like to include xviz server as a dependency in one of our project but it fails during installation:
`npm i @xviz/server`
output:
[code]

I get the same error output if I manually add it to `package.json` and run npm install.
npm version: `6.9.0`
node version: `v10.16.3`
os: `ubuntu 18.04`
${Project_PATH} is redacted.

[2019-10-07 12:54] enginbaglayici opened #531 "XVIZ live conversion + visualization from can data"
Hello, I want to generate .glb files from CAN data and directly send it to Uberviewer to visualize data in real time. I can generate .glb files using CAN data but I need some ideas to visualize this data with a frequency. If it possible, what would be the steps to achieve this?

Here's what I've done and found for live mode and the results:
- We do need 0-frame.json for timestamps (why the hell we

[2019-10-07 17:53] twojtasz commented on #529
Would love to see this working and hopefully get some contribution back.

1. Correct, since the iterator abstraction on a **live** state is largely ignorable, you could ignore it as necessary.  However a **live** system may have some connection state that I could see affecting iteration ... or not if you abstracted the reconnection logic internally.

2. XVIZStreamLoader is for loading an **off-lin

[2019-10-07 18:03] twojtasz commented on #531
It is a fair to say that a *live* mode has partial support, as you have experienced.

To address your bullet points
- This is simply due to the current way the Providers and components work.  Since live mode in the server isn't fully supported this is the current situation.  Your choice of language helps emphasize your frustration, but does little else.  The reality is live is not fully supported

[2019-10-07 18:12] twojtasz commented on #530
I know the cause, the package.json is missing the entry to include the "bin" folder.
I will fix and publish a patch update later today.

[2019-10-07 20:14] twojtasz opened #532 "Tracker: Python XVIZ Support"
Create XVIZ builders and related components to support XVIZ generation in Python.

## Phase 1 by Oct 16th
- [ ]  setup python module (see [tox+poetry](https://poetry.eustace.io/docs/faq/#is-tox-supported))
- [ ] setup basic python builder for pose, primitives
- [ ]  setup protobuf writing ([mypy-protobuf ](https://github.com/dropbox/mypy-protobuf) and [pyrobuf](https://github.com/appnexus/pyrobuf)

[2019-10-07 21:37] yujingz opened #533 "The slack link is not working anymore"
The slack invite link listed in the https://avs.auto/#/about page is not working anymore. Are we still accepting new users?

Thanks!

[2019-10-10 03:45] zoeeer commented on #400
same error as @EliotCao  https://github.com/uber/xviz/issues/400#issuecomment-519806249

error Command failed with exit code 1.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

OS: windows 7.
node: 10.16.0 / 12.11.1
yarn: 1.19.1

[2019-10-15 17:05] pranaabdhawan opened #534 "XVIZ Parser Error on running streetscape with KITTI example"
Trying to run the Kitti demo with:
`./scripts/run-kitti-example.sh`
Getting the following error on Streetscape:
[code]
Am I missing something?

[2019-10-16 07:04] zoeeer commented on #399
I encountered the same problem.
I followed several approaches such as `npm install --global --production windows-build-tools`, but it still fails at node-gyp rebuild during `yarn`.
However, I successed by running `npm install`.

[2019-10-16 07:38] afei26579 opened #535 "running KITTI example failed"
when I use :
`./scripts/run-kitti-example.sh`
it work,
`# XVIZ Server started.`
`# Ctrl-c to terminate.`
`# xvizserver-log: Listening on port 8080`
but i open browser by http://localhost:8080/  ,it return:

"Upgrade Required"

what should I do ？
node version is 12.12
and apt update done.

[2019-10-16 09:47] balag3 commented on #535
What happens here is that on http://localhost:8080 a websocket server is serving your data and the server tells you that it is missing an UPGRADE header from your browser request.
You need a client that is capable of opening a websocket connection. XVIZLiveLoader is one of them provided by xviz.
I personally use this extension: https://chrome.google.com/webstore/detail/websocket-test-client/fgponp

[2019-10-18 08:18] zoeeer commented on #534
I had this too.

**I used XVIZ v1.0.1 to convert this data.**

I did some investigation and think the converted data contains something wrong.
I tried to convert this dataset to json format, by adding `--json` option when running `example/converter/website-demo-data.sh`,  and the output **2-frame.json** looked like this:

![image](https://user-images.githubusercontent.com/4843075/67077280-7971e400

[2019-10-18 16:03] twojtasz opened #536 "Path Layer produces visual artifacts with strokeWidth 1"
Reported by @anita on slack.

The issue can be observed using https://avs.auto/playground/index.html with the following.

For context, increasing  the **stroke_width_max_pixels** to 1.4 can make the issue go away, as well as removing the point with the comment.

I was thinking numerical stability issue is one possibility, but we should be filtering points in the line to remove those in close proxi

[2019-10-18 16:29] twojtasz commented on #533
Fixed! Try and confirm here once you got access.

[2019-10-18 16:32] twojtasz commented on #535
@afei26579 This is an XVIZ *WebSocket* Server, not an HTTP Server.

To view this follow the *Quick Start* instructions on this page
https://github.com/uber/streetscape.gl

But replace `yarn start` with `yarn start-streaming-local` and it should work.

[2019-10-18 19:20] eastlife opened #537 "Problem when serving generated KITTI dataset"
Hello, I love this excellent project very much. When serving xviz of generated data, I cannot see the visualization in streetscape.gl. Actually I suppose the connection between xviz and streetscape.gl is established, because I can see the log "xvizserver-log: [> Connection] made" in xviz terminal, but there is no data from streetscape.gl (no lidar, black image, no velocity, etc). My dataset is gen

[2019-10-18 19:22] eastlife opened #538 "Problem with ROS Converter"
I've got another problem with ROS converter. Currently I can see the visualization of point cloud with the example ROSConfig json (config-1.json, config-2.json). However, when I add image data to ROSConfig, I cannot get the visualization of images as the example server. I am using the rosbag converted from the example KITTI dataset with kitti2bag, and I'm following the link below to install it:
ht

[2019-10-21 08:39] balag3 commented on #533
The slack invite link works correctly! Thanks!

[2019-10-22 00:10] yujingz commented on #533
It works now. Thank you so much. Closing.

[2019-10-22 00:10] #533 closed

[2019-10-23 13:59] Algirdyz commented on #480
I am also getting this without BMP.
[code]

[2019-10-23 18:06] ibgreen commented on #480
@Algirdyz Are you able to see what the content of (or perhaps more importantly, length of) your data buffer is when this error happens?

Is your data buffer very short? I wonder if it crashes because the BMP file detection doesn't check the length first?

[2019-10-25 13:58] hpanyda opened #540 "KITTI to XVIZ conversion error"
KITTI to XVIZ converter generates corrupted files which gives error while parsing on browser. Everything works fine with the already converted KITTI data available in XVIZ-data directory.
    https://github.com/uber/xviz-data/tree/master/kitti/2011_09_26_drive_0005_sync

Tried with different data streams from the KITTI website but the issue is the same.

    4f8cbb35-d1bd-4b30-983a-dc0efd5cd9db:8

[2019-10-28 08:51] afei26579 commented on #540
I have the same problem，Has your problem been solved?  thanks lot.

[2019-10-28 09:09] afei26579 commented on #535
thanks lots .

thanks a lot.
a new question，i run sush : yarn start-ttreaming-local
the Command log:

![图片](https://user-images.githubusercontent.com/56626114/67665780-63c0a380-f9a5-11e9-84b9-4b9a85e1c462.png)
and browser :
![图片](https://user-images.githubusercontent.com/56626114/67665907-9a96b980-f9a5-11e9-9a60-407e1d901eba.png)

[2019-10-28 10:36] hpanyda commented on #540
No, Not solved yet.

[2019-10-28 17:43] twojtasz commented on #535
@afei26579 Can you expand the error with the text "TypeError: can't convert null to object" . I have not seen this and am not sure where the issue is.  By expanding hopefully it will show the file and line.  If it says something like `bundle....` then it is not using source maps.  So try to click on the link on the right so I can try to get context on where this is happening.

[2019-10-28 17:44] twojtasz commented on #537
Not sure what could be wrong.  Does the browser console list any errors?  I will try from scratch as soon as I can and see if I can reproduce.
What platform are you running on?

[2019-10-28 17:46] twojtasz commented on #538
There is a bug in the ROS Image converter, that I have not fixed yet. so only a very small number of image formats are supported.

[2019-10-28 17:47] twojtasz commented on #540
thanks.   This shows an issue arround Float64Array().  I'll give this a try ASAP and see if I can pinpoint the cause.

[2019-10-28 17:48] twojtasz opened #541 "Deprecate cameraInfo position and orientation and instead use the link & pose"

[2019-10-28 17:52] eastlife commented on #537
There are many errors in the console. See the attached screenshot. And I am running on Ubuntu18.04
![Screenshot from 2019-10-28 13-49-56](https://user-images.githubusercontent.com/21313148/67703566-066b2900-f98a-11e9-97f1-fe34568b5a17.png)
![Screenshot from 2019-10-28 13-52-01](https://user-images.githubusercontent.com/21313148/67703636-269ae800-f98a-11e9-8e0e-94ee7aab1421.png)

[2019-10-28 17:53] eastlife commented on #538
Currently what formats it supports? I am just running the example ROS bag(converted from example KITTI dataset)

[2019-10-29 03:18] Pessimistress commented on #536
Set `stroke_width_max_pixels` to `3` the artifact will go away. This needs some further investigation; the filtering tolerance in the PathLayer vertex shader should have filtered some of the segments out. My guess is the very small segment length + very small width interacted unexpectedly, maybe we are hitting the float precision limit?

[2019-11-04 21:20] patnolan33 opened #542 "Converting custom data to XVIZ"
I am trying to convert a custom data set to XVIZ and I am having a hard time figuring out where to even begin from the documentation. I have a dataset that was collected from an open source simulator in the following format:

[code]

In each directory, there is a `timestamps.txt` file that consists of timestamps for each successive measurement from the simulation. For example, the first line of `g

[2019-11-06 20:07] hpanyda opened #543 "Not able to display images for type sensor_msgs/CompressedImage"
I am using ROS bag with compressed images. On Streescape.gl, I am able to visualize the point cloud but images from the cameras are not getting displayed. Please let me know if there is something that I am missing here.
The ROS bag that I have contains the following

    /camera_3/image_raw/compressed sensor_msgs/CompressedImage
    /camera_3/camera_info sensor_msgs/CameraInfo
    /camera_1/image_

[2019-11-06 20:55] patnolan33 commented on #540
I am getting the exact same errors when converting the KITTI dataset. Is there any update on this? I know there is a a validation tool supposedly able to validate the generated XVIZ data, however I don't see much documentation on how to use it or what it would provide.

This also seems to be related to https://github.com/uber/xviz/issues/534 and https://github.com/uber/xviz/issues/535. I suspect a

[2019-11-07 18:28] patnolan33 commented on #540
Taking a closer look at the generated JSON file using the `--json` flag, it looks like the LIDAR points are also converted with a bunch of `null` values. I removed the trajectory stream generation from the converter (so only vehicle pose is converted) and also removed all but the `gpsConverter` and `CameraConverter` from the `initialize()` method code in `kitti_converter.js`:

[code]
The `get-star

[2019-11-09 00:52] hpanyda commented on #543
Anyone any inputs?
Would like to decompress the compressedImage to jpeg/png and resize it with sharp to display.
Thanks & Regards,
Hitesh

[2019-11-11 14:04] hpanyda commented on #543
Hi,

I tried changing the ROS compressedImage to raw jpeg image and resized it with sharp but still it is not getting displayed on streetscape.gl. Point cloud is getting displayed properly.

Below are the changes done in xviz/modules/ros/src/messages/sensor-compressedimage-converter.js

	import Converter from './converter';
	import sharp from 'sharp';
	import cv from 'opencv4nodejs';

	export clas

[2019-11-11 14:09] hpanyda commented on #543
Just to add, please note that format contains the following for front color camera. For now, I have also reduced the rosConfig json to have single xvizStream .

    bgr8; jpeg compressed bgr8

[2019-11-12 00:59] cmpute commented on #532
[xviz.py](https://github.com/cmpute/xviz.py) if you are interested~

[2019-11-12 18:31] patnolan33 commented on #540
So I think I found the issue with the trajectory generation code. In the `getPoseTrajectory()` method in `xviz/builder/xviz-trajectory-helper.js`, the return statement is incorrect

Change the return statement to use `relativeOffset[0]` for X, and similarly for Y and Z (the `relativeOffset` variable is an array and doesn't have `.x`, `.y`, or `.z` available to it):

[code]

With this fix, the traj

[2019-11-14 21:13] cmpute opened #547 "Missing point types in protobuf"
Specification of `point_color_mode` and `point_color_domain` are absent from protobuf definition here

https://github.com/uber/xviz/blob/9cb3c30a28ffadb5a7f7414cddfe93d7d0ca2799/xviz/v2/style.proto#L39

[2019-11-18 01:50] EliotCao commented on #400
yeap, I also think that it is related to windows OS, so I have change to  Linux environment to operate AVS.

[2019-11-18 12:33] VijeetBenni commented on #525
I also need to visualize in runtime.

tried:
./bin/babel-xvizserver -d (dir where the script is storing the files) --live 1 --port 8081
&
yarn start-live-local

But getting below error:
get-started$ yarn start-live-local
**yarn run v1.17.3
warning package.json: No license field
$ webpack-dev-server --env.local --env.live --progress --hot --open
internal/modules/cjs/loader.js:638
    throw err;

[2019-11-18 12:56] enginbaglayici commented on #525
You can try the slack channel for your question. https://app.slack.com/client/TC45B521H/CGC3C8SMV/thread/CGC3C8SMV-1568123667.057900

[2019-11-18 13:30] VijeetBenni commented on #525
I solved the error.
But now after running **yarn start-live-local**

Not able to visualize anything on the streetscape.
Showing
**Missing data:/vehicle/acceleration**
**Missing data:/vehicle/velocity**
**Missing data:/vehicle/wheel_angle**

Not even images are displaying

[2019-11-18 19:52] twojtasz commented on #532
@cmpute Would you be up for submitting this for inclusion in the main repo? We have some plans for this work and happy to sync on our plans and see if they are in alignment with your work.

[2019-11-18 20:48] cmpute commented on #532
@twojtasz No problem for me~ But how do you plan to include this in the main repo? I guess the main repo is only for Javascript version?

[2019-11-19 00:15] twojtasz commented on #532
@cmpute Awesome!  Let me figure that out, the key thing would be to be able to generate and run validation at the data level, rather than at a particular implementation level.  Over time, we can change the structure to have a top-level separation for language specific implementations.

The key goals would be to have language agnostic tooling and data at the top level (or some common directory).  T

[2019-11-19 01:27] cmpute commented on #532
@twojtasz Sure, but I'm not actually very familiar with your dev flow and I guess my code structure is also quite different from yours. How do we integrate your code and mine?

[2019-11-19 12:42] VijeetBenni opened #548 "streaming xviz file by file(.glb)"
Hello,

I need to stream the live data file by file(.glb) . I tried below things.

Case 1:
XVIZ server:
./bin/xvizserver -d (dir where the script is storing the files) --live 1 --port 8081

streetscape server:
streetscape.gl\examples\get-started$ yarn start-live-local

On the UI its showing:
Missing data:/vehicle/acceleration
Missing data:/vehicle/velocity
Missing data:/vehicle/wheel_angle

Case 2

[2019-11-19 12:49] VijeetBenni commented on #419
How to stream the xviz frames 1 by 1 to streescape instead of  whole folder?

[2019-11-19 13:01] VijeetBenni commented on #531
Hello Eugin,
I followed same the steps you mentioned. but when I run yarn start-live-local, The UI comes up but says Missing Data:

How were you able to visualize .glb files in real time? Right now latency is not matter of concern for me.

[2019-11-19 13:02] VijeetBenni commented on #531
Hello Eugin,
I followed same the steps you mentioned. but when I run yarn start-live-local, The UI comes up but says Missing Data:

How were you able to visualize .glb files in real time? Right now latency is not matter of concern for me.

[2019-11-19 15:26] VijeetBenni commented on #531
Anyways., I am able to visualize now.
But the .glb files are generated in realtime, so for testing I kept 1 file in the data folder and later started copying 10 files in the folder. Only first frame is displayed after that nothing.

How to send the glb files one after the other through xviz server?

[2019-11-19 17:06] enginbaglayici commented on #531
Hello! Actually I am not working on this issue for a while but I was exactly at that point. I also wanted to send glb files to xviz server in real time but I could only display the data that I put before I start streaming.. If you figure out how to solve this and display continously, the problem will be pretty much solved. Next thing will be synchronizing the data which seems difficult while using

[2019-11-19 19:31] twojtasz commented on #532
@cmpute The easiest would simply be to create a top-level `python` folder and then put your code in there effectively.  Eventually the JS specific parts could move to a `javascript` directory with other shared data at the top-level as necessary.

I will want to run this by some folks and maybe try a few things before committing.

As for the code, I have only started the Python work so I am still f

[2019-11-19 22:16] cmpute commented on #532
@twojtasz Feel free to include my code in your repository as long as you can credit me in your repo haha. I think I would change the license to a more flexible one.

In terms of the tool chain, my package actually only depends on little third-party packages in addition to builtin Python features, ie `websockets` for server, `protobuf` for protobuf support, `numpy` for common ndarray support. I thi

[2019-11-20 20:04] twojtasz commented on #532
@cmpute Absolutely your contribution would be credited.
Providing the pythonic API is the right call, and Protobuf is the direction we are heading as well.

I'm still collecting everything, and will be sure to add you to any PR's for review.

[2019-11-21 12:21] mla2 opened #549 "Using multiple point clouds gives warning"
I'm trying to feed two lidar streams, one left and one right. I'm getting this on every update

`Point cloud for /lidar/left overwriting previous cloud`

I'm feeding alternating left and right, with incremental update. It seems to work, but the warning is a bit concerning. Am I doing something wrong, or is this bug, or a limitation?

It's a bit hard to merge them since they have a different transf

[2019-11-22 02:58] Apollys opened #550 "Basic ROS Example - Stuttering and missing /vehicle_pose"
I am following the instructions in the [Basic ROS Example](https://github.com/uber/xviz/tree/master/examples/converters/ros#example-1-viewing-a-single-topic), specifically using an `XVIZFakePose` to view the pointcloud from my own bag (not KITTI).

When run, there are quite a lot of `Every message requires a /vehicle_pose stream` messages output to the console.  In addition, I am seeing stuttering

[2019-11-23 15:12] balag3 opened #551 "Polyline primitive is not displayed in case of too close GEOGRAPHIC coordinates."
I would like to use the polyline primitive to mark the pose's covered route.
In the metadata  I set the polyline's coordinates to GEOGRAPHIC, since what I get are live gps coordinates.
In every frame I push the pose's current position into a list  (Array:Point3D) and it is not displayed.
Playing with [playground](https://avs.auto/playground/?sample_streams=polyline) it is easy to reproduce the pro

[2019-11-25 08:03] VijeetBenni commented on #531
Hello Engin,
Thanks for the reply.
I am able to display it continuously. But yes synchronization is the next task now which is difficult.
I wanted to know how are you converting the data into XVIZ ? I meant how did you integrate the conversion and the server part?

[2019-11-25 09:18] enginbaglayici commented on #531
Hello,

I am actually doing those separately. I convert json files to xviz glb files. Then I start streaming and finally visualize.

[2019-11-26 06:58] VijeetBenni commented on #531
Thanks Engin.

[2019-11-26 15:57] enricoschroeder commented on #549
Same "problem" here, I would also be interested in some insight on this topic.

[2019-11-27 09:40] #548 closed

[2019-11-27 09:59] lance-plusai commented on #550
I have the same problem, there should be some problems with the code https://github.com/uber/streetscape.gl/blob/6a3549eba1ff122fe2135c87d576ac4dbe6ee255/modules/core/src/utils/transform.js#L34 .
 I simply fixed some, and everything is normal now:
repase `  let parentPose = streams[streamName] && streams[streamName].target_pose;` with
`let parentPose = links[streamName] && links[streamName].target

[2019-12-02 21:11] twojtasz commented on #549
@mla2 @schroederen This is a legacy warning message that is inaccurate.
I will remove it since it is no longer a valid message.

[2019-12-02 21:16] twojtasz commented on #550
The XVIZFakePose should be outputting the messages required on the stream `/vehicle_pose`.

If you could upload, a small sample of sequential xviz messages that would help to repo/debug.  Knowing that data may be private, it might be useful to debug and see what the timestamps are, and maybe output a random set of points at that same time you would output your point clouds. Then we could debug at

[2019-12-02 21:18] twojtasz commented on #551
Thanks for the test data.

[2019-12-02 21:26] twojtasz commented on #542
@patnolan33 KITTI is technically a custom data format, so KITTI should have all that is necessary to help you.

Having said that, if all of your timestamps are **synced** then you should be able to simply iterate by timestamp.  And for each data set create a **converter** that knows how to load the timestamps for that data and index to the data when given a timestamp. Inside your converter, you wo

[2019-12-02 21:37] twojtasz commented on #543
@hpanyda Since they are compressed images, i would try to pass them through w/o sharp re-encoding.

Do you know if the data is present and correct?
If it is correct, have you configured the UI to be looking at the correct stream.  Specifically you can see where in **ros-custom** we define some custom UI mapping to the streams for cameras.

https://github.com/uber/xviz/blob/master/examples/converte

[2019-12-02 22:17] speculees commented on #537
This seems like it is linked to #540

[2019-12-03 00:33] twojtasz commented on #532
@cmpute I am checking with our OSS team internally.  Right now the suggestion is that since you have a project under a GNU license, that we would need you to open a PR (and sign our Contributors License Agreement) and make note that you are contributing the code under the Apache license that XVIZ uses.

If you are interested in pursuing this let me we can keep it simple and just land this in a **p

[2019-12-03 17:44] cmpute commented on #532
@twojtasz Sure, I'm fine with that

[2019-12-04 09:12] speculees commented on #540
Also found out that in streetscape.gl modules/core/src/utils/transform.js
I have to add default value to `links` on line 78 like so
` const {origin, links = {}, streams, transforms = {}, vehicleRelativeTransform} = frame;`

[2019-12-05 02:38] hookex opened #552 "Can support typescript or 'd.ts' file?"

[2019-12-05 07:28] hookex opened #554 "Why 'vehicle_pose' must be defined?"
Sorry, I don't understant this setup.

My application scene is for warehouse that support a lot of robots(like vehicle)'s movement,does they  confict?

[2019-12-05 07:58] hookex commented on #554
Is there any example that show several vechicles at the same time?

[2019-12-05 09:13] hookex commented on #468
In autonomous vehicle use-case, only monitor one vehicle?

[2019-12-05 12:20] hookex opened #555 "@xviz/server can't install"
[code]

[2019-12-05 15:31] ibgreen commented on #555
Had this problem quite some time ago. If I recall correctly you need a newer version of the `fsevents` dependency, 1.2.9 is not compatible with node 12. Best case you may be able to just remove your npm lock file and reinstall and it will get automatically bumped.

If not, since this is an indirect dependency it is a slightly trickier to fix. I am not sure about npm, but if you install with `yarn`

[2019-12-05 15:32] ibgreen commented on #555
Or you could downgrade Node version for now.

[2019-12-05 18:36] twojtasz commented on #555
The main issue here is the missing scripts directory I believe `/mnt/g/code/hetu.gl/node_modules/@xviz/server/bin/xvizserver`

Let me get on this.

[2019-12-05 18:44] twojtasz commented on #554
@hookex great question.  The problem was one of use-case exposure.  Originally we had a hero-vehicle or ego-vehicle and didn't operation with multi-vehicles in mind.

The good news is that we have been making changes to expand and support this use-cases in a much more general fashion.  This includes no vehicle and multiple vehicles.

Not everything is in place to make this as easy as it should be.

[2019-12-05 18:46] twojtasz commented on #552
@hookex we don't have typescript defintions currently.  There was internal discussion of flow vs typescript but I simply don't have enough context and the priority for this simply hasn't been high enough.

If you are familiar and could get the ball rolling I would be happy to support you.

[2019-12-05 18:52] twojtasz commented on #532
@cmpute I'm going to be playing around on a separate branch in anticipation of this PR.  Let me know if you need any assistance.

I'm super eager and grateful for your work on this front!

[2019-12-05 19:02] twojtasz commented on #540
I clearly need to jump back on this.  I have a Ubuntu setup I will test on tonight. Thanks @speculees @patnolan33 for all your digging.  Sorry this has been broken for you.

[2019-12-05 23:23] twojtasz commented on #555
Posted #556

[2019-12-06 01:20] twojtasz commented on #551
For avs.auto/playground

metadata
`// metadata
xvizMetadataBuilder
  .startTime(1000)
  .endTime(1005)

  .stream('/vehicle_pose')
  .category('POSE')

  .stream('/objects/points')
  .type('POINT')
  .category('PRIMITIVE')
  .coordinate('GEOGRAPHIC')
  .streamStyle({radius_pixels: 5, point_color_mode: 'distance_to_vehicle'})

  .stream('/objects/lines')
  .type('POLYLINE')
  .category('PRIMITIVE')

[2019-12-06 06:03] hookex commented on #552
Out team mainly use typescript for programming, and have been following AVS for serveral months.
Our application is inspired by AVS, thanks for your great job!
But reading the XVIZ's source code is diffcult without `Interface`、`Strong Type`.

Out visualiiztion team is growing and busy, looking forward to contributing code to AVS in the near future.

[2019-12-06 06:30] hookex commented on #554
Here's a recording of our app.
[warehouse.zip](https://github.com/uber/xviz/files/3930659/warehouse.zip)

Now, our use-case use global camera to observe  overall warehouse.

Previously, we developed out application inspired by deck.gl and XVIZ, but not use these two module directly. And now, we plan use XVIZ module as our data layer. This is because data protocal and service is so import and diffi

[2019-12-06 11:02] hookex commented on #554
I generated data-frame successly. but in `@xviz/parser` model,  only support one  `PRIMARY_POSE_STREAM`, I plan to change it to support `POSE_STREAM_LIST`.

![image](https://user-images.githubusercontent.com/3053496/70318110-3abfe800-185a-11ea-9526-dc88dfdd6359.png)

[2019-12-06 11:38] hookex commented on #555
Not succes. So I cloned the souce code and use `npm link`.

[2019-12-06 14:35] cmpute commented on #532
@twojtasz Sorry for late of PR, I just created one and changed license to Apache, how can I sign the Contributors License Agreement?

[2019-12-06 18:47] #555 closed

[2019-12-06 19:02] twojtasz commented on #532
@cmpute looks awesome.  Thanks again for putting this up and doing it so fast!

[2019-12-06 19:24] twojtasz commented on #532
Just landed your PR!  Thank you very much for your contribution.

I plan for python related discussion to happen in our slack [#python channel. ](https://streetscapexviz.slack.com/archives/CR8LR6SCD).  Please join!

The first set of changes will just be some house-keeping.  Like changing the module name once I figure out what it should be to avoid conflict with you module already published.

[2019-12-06 19:32] cmpute commented on #532
@twojtasz If I recall right, I can hand the ownership of the package published to you and I can change my code to another package name, since your code will actually the "official implementation"~

[2019-12-06 19:34] cmpute commented on #532
And how can I join the slack channel? It seems to be an internal one since it requires XXX@tri.global email address

[2019-12-06 19:52] twojtasz commented on #532
@cmpute If you would be willing to transfer that would be great.  But lets figure out the details and see if it's necessary.

I also resent an invitation email.  I will try to fix the general signup and the **tri.global** issue.

[2019-12-06 20:03] cmpute commented on #532
@twojtasz Could you please send invitation again to this email zyxin@umich.edu, since the current one is my personal email address 😃 , sorry for the trouble

[2019-12-06 20:21] twojtasz commented on #532
Done. And I did remove the link that was tri.global specific.  And verified our docs have the general invitaion link.

[2019-12-06 21:08] #549 closed

[2019-12-06 21:47] twojtasz commented on #530
#556 should fix this.  I will release a new version once I address a few other bugs.

[2019-12-07 17:55] WesleyYue commented on #529
Thanks for your help. I ended up implementing this with the [python xviz implementation](https://github.com/cmpute/xviz.py) (which has since been merged to master) with the ROS python api.

[2019-12-07 17:55] #529 closed

[2019-12-10 02:45] #534 closed

[2019-12-10 13:15] #547 closed

[2019-12-10 13:24] twojtasz commented on #527
this just needs updated to match the **sharp** library functions that have been deprecated. I"ll try to get this done soon.

[2019-12-10 13:30] twojtasz commented on #540
@patnolan33 Huge thanks for tracking this down. The problem was rooted in math.gl being updated and no longer returning a class but a plain array.  Previously it had accessors for fields like `.x`.

[2019-12-10 13:30] #540 closed

[2019-12-10 13:32] twojtasz commented on #537
@eastlife Fixed in https://github.com/uber/xviz/pull/560

[2019-12-10 13:32] #537 closed

[2019-12-10 13:32] twojtasz commented on #535
@afei26579 fixed in https://github.com/uber/xviz/pull/560

[2019-12-10 13:32] #535 closed

[2019-12-10 17:54] twojtasz commented on #530
@balag3 sorry for the long delay. If you try with`@xviz/server@1.0.3` and it still persists please re-open and ping me.  I tested on my mac and the *bin* directory was included when `npm install @xviz/server`

[2019-12-10 17:54] #530 closed

[2019-12-11 11:55] hpanyda commented on #543
Thanks and apologies for the delayed reply.
Please find attached the file with few messages.

Best regards,
Hitesh
[subset.bag.tar.gz](https://github.com/uber/xviz/files/3950167/subset.bag.tar.gz)

[2019-12-12 20:02] twojtasz commented on #555
@hookex Can you verify the fix with the latest published @xviz/server@1.0.3

[2019-12-16 11:51] hookex commented on #555
Success, good job!

[2019-12-21 07:48] didibaba commented on #531
Is there any difference between sending glb and json directly in live mode?

[2019-12-25 08:24] hookex opened #562 "Question: getCurrentFrame() and Interpolation?"
I'm confused when  I reading the source code.
Where is the Interpolation compute between the `Synchronizor.getCurrentFrame()` to `streamBuffer.getTimeSlices()`.

[2019-12-26 07:13] didibaba opened #563 "Is it possible to send data only once and do not erase in the log view?"
Is it possible to send data (like point cloud of slam map) only once and do not erase in the log view?

[2020-01-03 16:56] upadsha commented on #424
Hi
Could you please share me the code snippet for converting the frame to glb using the xviz writer, as i am facing a similar issue, would like to try on this.

[2020-01-03 17:07] upadsha commented on #480
Hi i am getting similar issue / error message, for converting JSON object to xviz BINARY_GLB format or even Uint8Array buffer data.

[2020-01-03 17:07] upadsha commented on #480
converting the frame to glb using the xviz writer

[2020-01-03 17:07] upadsha commented on #480
converting the frame to glb using the xviz writer

[2020-01-03 17:11] upadsha commented on #452
Server crashes on sending JSON object messages to xvizBuilder with .image() format mismatch, even on converting it to Uint8Array, on any UDP packets mismatch delivery, missing header with height & width, makes it crashes.
Any solution for this ?

[2020-01-08 10:14] Vela-zz opened #564 "demo of nuTonomy in example/converters failed"
In process-image.js file under ./nuTonomy/converters
from sharp version 0.21.0,
`.resize(resizeWidth, resizeHeight)
      .max()`
was deprecated, and will raise
 `(node:25739) UnhandledPromiseRejectionWarning: TypeError: (0 , _sharp.default)(...).resize(...).max is not a function` error,

it should be changed to
`.resize(resizeWidth, resizeHeight,{fit:'inside'})`  according to sharp change log [ht

[2020-01-17 13:34] goksanisil opened #566 "cannot view avs demo or the avs.auto pages on ubuntu 18.04"
Hi,

I have followed the quick start steps for xviz and succeeded till the end.

However, I cannot view any of the avs.auto related pages apart from the starting page. Cannot view the live demo nor the tutorial pages like https://avs.auto/#/streetscape.gl/getting-started/starter-kit. Its basically just showing the menu pane on the left and thats it.

What am I missing here?

[2020-02-03 08:42] KSaikishore opened #567 "Acceleration issue with IMU custom converter"
Acceleration values with kitti dat using ros-custom converter were close to acceleration due to gravity(g =9.8 m/s2) value unlike the values in demo.How do we get the exact acceleration and velocity values from the Imu sensor.How do we show accceleration as negative while decelerating if using the formula Math.sqrt( accel_x * accel_x + accel_y *accel_ y + accel_z * accel_z ).

[2020-02-07 06:25] ytgeng99 opened #568 "xviz server can not run properly"
After running ./scripts/run-kitti-example.sh, it will throw Error: Cannot find module '../dist/es5'. Node.js version is v12.15.0. Thanks.

[2020-02-18 19:16] sullvn opened #569 "Video frames are ignored due to type mismatch"
I'm seeing video frames being ignored due to a type mismatch. `Blob` is used to check for video messages [in the latest code](https://github.com/uber/xviz/blob/master/modules/parser/src/parsers/parse-xviz-message-sync.js#L35) while `ArrayBuffer` is what I'm actually encountering:

[code]

This modified version works:

[code]

I'm making an issue instead of a PR because that comment above hints the

[2020-02-19 05:22] KSaikishore opened #570 "Calling AWS S3 bucket rosbag data"
How do i access rosbag data which is in s3 bucket that doesn't have public access through URL.

[2020-02-19 14:12] ibgreen commented on #570
This is not a question that XVIZ can help with.

That said, a typical approach when working with cloud storage such as S3 is to provide an endpoint in your cloud backend that uses AWS apis to create a temporary "signed URL" to your S3 file that you then return to the browser. The browser can then read directly from that signed URL, and you should be able to use that URL with XVIZ.

The principles

[2020-02-20 09:39] KSaikishore commented on #568
i had the same issue which got resolved by installing jq(Json Parser)

[2020-02-24 03:11] user-Mrh opened #571 "Quick start question"
uup@ubuntu::~/VIS$ cd xviz/
uup@ubuntu:~/VIS/xviz$ yarn bootstrap
ERROR: [Errno 2] No such file or directory: 'bootstrap'

[2020-02-24 05:22] #571 closed

[2020-03-01 05:05] hefc2016 opened #572 "Fail to convert KITTI data using example script"
Hello

I'm studying to use xviz and follow the quick start guideline. When I run below script ./scripts/run-kitti-example.sh, I have below error come out. I try to rebuild the node-expat using `npm rebuild` or `npm install` according to error indication, but this error still not fixed.

some info of my environment:
- node - v11.15.0
- npm - 6.13.7
- yarn - 1.21.1
- Linux - Ubuntu 16.04 LTS in WIN1

[2020-03-03 15:20] #564 closed

[2020-03-09 11:02] heshiwen1989 commented on #525
Hello, Do you Solve This problem?

[2020-03-09 11:34] heshiwen1989 commented on #531
Hello, Can you Offer you solution with more information? My work is similary with you;

[2020-03-10 03:13] heshiwen1989 opened #573 "AVS Server Streaming/Live Mode Problem"
Hello AVS Team:
      When I  use AVS Streaming/Live by Command: yarn start-streaming-local / yarn start-live-local, the web do not display any content, and capture data by wireshark, There is no any client connect the server.

[2020-03-10 03:15] heshiwen1989 commented on #568
How to Install this, try by npm install jq is error, and try brew install jq and then not find brew; I install brew by npm, and brew not find

[2020-03-10 06:06] Orkunkizilirmak commented on #573
I am having exactly the same issue. When I use "yarn start-streaming" it shows the data that I have in the server but when I try "yarn start-live" page loads up but the data does not visualize.

[2020-03-10 06:45] heshiwen1989 commented on #573
Hello, I solve This Problem by Add Parameter in log_from_live.js:
export default new XVIZLiveLoader({
  logGuid: 'mock',
  bufferLength: 10,
  session_type: 'live',    // +++This is My Add Parameter for live mde ++++
  serverConfig: {
    defaultLogLength: 30,
    serverUrl: 'ws://localhost:8081'
  },
  worker: true,
  maxConcurrency: 4
});

And Then Display is Ok now, And I want To Modified this

[2020-03-10 06:48] #573 closed

[2020-03-12 07:44] heshiwen1989 opened #574 "Can offer more detail doc for XVIZ data format?"
Hello XVIZ Team:

i plane to use this in realtime, so l need excellent converter to convert my data to xviz, can offer more detail for xviz format?

[2020-03-13 19:42] jlisee commented on #574
Do the [`Protocol` pages here](https://avs.auto/#/xviz/protocol/protocol-implementations/protobuf-protocol) help?

[2020-03-14 01:56] heshiwen1989 commented on #574
Hello, You offer link: https://avs.auto/#/xviz/protocol/protocol-implementations/protobuf-protocol display is not normal, in other word, this web page do not display any content.

[2020-03-14 09:03] hefc2016 commented on #572
I use `npm rebuild node-expat --update-binary` to rebuild node-expat and then this issue fixed.

[2020-03-14 09:03] #572 closed

[2020-03-15 20:50] jlisee commented on #574
That should should be auto-populated from [`docs/protocol-formats/protobuf-protocol.md`](https://github.com/uber/xviz/blob/01fc3b2f2e98e86c904c7b57ee8d0a7be850e770/docs/protocol-formats/protobuf-protocol.md) on GitHub.  I would check the developer console to see what issues you are having with it.

[2020-03-18 08:19] heshiwen1989 commented on #574
Hello, Another Issue:
 Why your Offer .glb format files of kitti can not correctly parse by tinygltf lib(in c++), and more, why in gltf file, binary data size always greater than buffers' bytelength about 8-11bytes

e.g.  gltf file parse information:
magic: "glTF"
version: 2
length: 2327828
model_length: 95142, in fact this is json data length
model_format: 0,  but in tiny_gltf, this must be 0x4E4

[2020-03-18 13:32] jlisee commented on #574
Glad you found the docs, can you open that with a new issue?

[2020-03-18 13:32] #574 closed

[2020-03-18 13:49] heshiwen1989 opened #576 "AVS Team offer Kitti Demo glb Data Issue"
Hello AVS Team:

When parse  your offer .glb format files of kitti is not correctly by tinygltf lib(in c++), and more, I found that the .glb file's binary data size always greater than buffers' bytelength about 8-11bytes

e.g.

gltf file parse information:

magic: "glTF"
version: 2
length: 2327828
model_length: 95142, in fact this is json data length
model_format: 0, but in tiny_gltf, this must be

[2020-03-18 14:53] ibgreen commented on #576
Are you saying that the code above writes JSON_MAGIC as `0` (there may certainly be a bug but I can't spot it at a glance) or are you referring to some pre-converted test data?

Some additional information:
- The parsing code you pasted is located in loaders.gl https://github.com/uber-web/loaders.gl/blob/master/modules/gltf/src/lib/encode-glb.js
- if there is indeed a bug in the GLB encoder code t

[2020-03-18 16:06] heshiwen1989 commented on #576
Hello,
Yes, I use the demo data which download from github(include kitti and nutonomy?  .glb format data) , and this data have some bytes is error, I gauss this reasons include:
(1) this data is error
(2) some error when download this data from github  ==> i try to download this data again to check this error

and from this encode-glb.js code, I can not find any error, In fact, I think that the .g

[2020-03-19 07:59] heshiwen1989 commented on #576
Hello,
I Don't Know How package the glb file, the main difficute is binary data I should how to deal with? it seems that it is not raw data.

[2020-03-19 13:22] heshiwen1989 commented on #576
ok, i solver this issue, thanks!

[2020-03-19 13:22] #576 closed

[2020-03-22 08:07] salnikovp0 opened #577 "yarn couldn't bootstrap the server"
Hi,

System:
macos: 10.15.3
yarn: 1.13.0

As in the exmpale on https://avs.auto/#/xviz/getting-started/example-xviz-server
got the clone of the repo, and hit "yarn bootstrap"

got the following error:

yarn run v1.13.0
$ yarn && ocular-bootstrap
[1/5] 🔍  Validating package.json...
[2/5] 🔍  Resolving packages...
[3/5] 🚚  Fetching packages...
[4/5] 🔗  Linking dependencies...
warning " > @babel/plugi

[2020-03-25 05:13] bldulam1 commented on #469
"yarn add -D @xviz/builder"

solves the problem

[2020-03-27 04:36] KSaikishore opened #579 "Support For Other open datasets"
Is there any work going on to add support for working of other publicly available large data sets in uber
 AVS.

[2020-04-02 16:06] jediofgever opened #580 "Error while trying to run ros demo"
I met this error when trtying to
` node index.js -d ../../../data/kitti/ --rosConfig `

[code]

[2020-04-02 18:03] jediofgever commented on #542
@patnolan33 Have you figured this out ? I al also trying to do the same now any feedback is appreciated

[2020-04-10 07:41] goksanisil23 opened #581 "Dashed line for polyline"
Hi!
I'm using polyline to create lanes and lanemarkings on streetscape. The lines are appearing as solid lines right now and I was wondering if there is a style property that I could use to make them dashed.

Thanks and regards

Goksan

[2020-04-13 19:32] weidezhang opened #582 "Question: understand data matching/synchronization logic"
Hi I have a basic question. It seems the format doesn't define timestamp for lidar or obstacles. The timestamp only exists for vehicle_pose.

How the system understand how to visualize which lidar point cloud or obstales matched with which vehicle_pose ?  Put int another word,  when comes to visualizer(streetgl), how does it aggregates/synchronizes the streaming data and shows them simultaneously

[2020-04-14 01:49] mahaogithub commented on #531
@VijeetBenni
hello,
Can you tell me your solution? I want to do real-time visualization.

[2020-04-14 02:53] mahaogithub commented on #531
@VijeetBenni
Hello，
How do I send GLB files one by one through the xviz server?Have you solved the problem，Could you tell me your solution？

[2020-04-14 05:56] mahaogithub commented on #582
Hello,
I'm also studying avs now. Do you know how to visualize data in real time?

[2020-04-14 06:02] mahaogithub opened #583 "How to select multiple data sources on the client side for visualization?"
How to select multiple data sources on the client side for visualization?

[2020-04-14 06:39] enginbaglayici commented on #531
@heshiwen1989  I recommend you guyz to join Slack channel and ask your questions in detail. You can also find similar issues of people and answers to these issues.
https://join.slack.com/t/streetscapexviz/shared_invite/zt-71l8ybk0-DKJHSCamkgZ81L7QmhLoHw

[2020-04-14 23:31] weidezhang commented on #582
close this. since it's answered in slack channel.

[2020-04-14 23:31] #582 closed

[2020-04-16 07:50] atefehkhoshnood commented on #543
how did you resolve this @hpanyda?

[2020-04-20 08:12] Frz15 commented on #419
@twojtasz Thank you for your information. DId you find a way to transfer data between a ros application / xviz / streetscape? If the work is already done, could you tell me the method?

[2020-04-23 18:20] hpanyda commented on #543
Not resolved, got into other priorities.

[2020-04-26 05:08] zwmisdu opened #584 "How to convert the ROS topics in real time?"
I can successfully use the dataset from kitti to display , and I want to go further. How can I convert the data in ROS topics by XVIZ and use streetscape to display in the form of stream? THANKS.

[2020-04-27 07:08] EliotCao opened #585 "XVIZ live mode server problem"
I have a XVIZ server in other language. it can sent Metadata and Stateupdate message in JSON format. and I use Streetscape example "website-demo" as frontend visualization. and I have fix it using XVIZLiveLoader like as:
`new XVIZLiveLoader({
      logGuid: 'mock',
      bufferLength: 10,
      serverConfig: {
        defaultLogLength: 30,
        serverUrl: 'ws://192.168.1.10:2000'
      },

[2020-04-30 09:21] #585 closed

[2020-04-30 09:24] EliotCao commented on #584
Maybe xviz/ros docs, ros and ros custom excemple is usefull.

[2020-04-30 09:43] EliotCao opened #586 "Point primitive 'ELEVATION' PointColorMode is invalid"
Looks like only “elevation” is efficacious for point_color_mode style type. the 'ELEVATION' is invalid!

[2020-05-11 12:23] KSaikishore opened #587 "Issue with XvizFakePose orientation"
I have a nuscene data converted to nuscene bag fomat which has lidar point cloud as one of the ros topic.
When i visualized the nuscend bag on streetscape.gl by mapping XvizFakePose converter to point cloud ros topic(tried mapping with other topics as well)my vehicle orientation is not alligned properly with the road.How do i rectify that.

[2020-05-13 05:59] KSaikishore opened #590 "issue with Nutonomy converter ,visualisation"
I have converted the nuscenes data(mini,Depreciated datasets) to xviz.But when i visualised that on streetscape.gl camera and lidar data were not getting  visualised properly(data is dissapearing) most of the time.How do i rectify that

[2020-05-19 08:11] sylvaintouret opened #593 "Python: Working with classes and style_class"
Hello,

I'm having issue with the python implementation to define style_classes and classes for streams.

1. Defining classes on a stream, for example in the circle scenario:
[code]
To fix this i had to change the function _format_primitive in  primitive.py:
from :
[code]
to :
[code]
Now this seems to work to apply the classe in the output at least. Now comes the styling for that class. My underst

[2020-05-19 09:04] sylvaintouret commented on #593
It seems to be coming from the color definition itself, because other values seem to be working (like stroke_width)

[2020-05-19 09:28] sylvaintouret commented on #593
Fixed it by adding this in function _format_primitive in primitive.py. (May hurt sensitive eyes.)

Basically i am manually merging the style from the class to the style from the object. Could not find a better solution for now

[code]

[2020-05-21 13:48] jlisee commented on #593
@twojtasz

[2020-05-22 07:00] JihunDev opened #594 ""yarn bootstrap" is not work."
## System environment
OS : Ubuntu 18.04 LTS
Node : v10.20.1
NPM : 6.14.4
yarn : 1.22.4

## Question
I followed Quick Start and did the same.
However, the following error occurs in "yarn bootstrap".
I want to know the solution.

## Error Code
`
❯ yarn bootstrap
yarn run v1.22.4
$ PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true yarn && ocular-bootstrap
warning package-lock.json found. Your project contains lo

[2020-05-22 12:49] JihunDev commented on #594
I solved this problem

`/home/jhk/WorkDir/projects/xviz/node_modules/.bin/ocular-build: line 7: jq: command not found`

An error occurred because jq was not installed.

https://stedolan.github.io/jq/download/
For reference.

[2020-05-22 12:49] #594 closed

[2020-05-26 07:00] JihunDev commented on #584
I also want to display the ROS Topic in Real Time.
I read Doc but couldn't find a way. If you are successful, let me know how.

[2020-05-26 13:28] zwmisdu commented on #584
Sadlly， I haven't achieved this purpose. Maybe I recommend you use ROSNODEJS to pass the information in topics and can deal the information in xx.js.The next thing is that we should convert the message  in XVIZ protocol. And for further, I also need to explore.

[2020-05-28 08:05] rongweiSUN commented on #400
I also meet the same problem, have you found a solution on it ?

[2020-06-05 21:47] twojtasz commented on #593
Having worked on the Declarative UI recently, the issues you are running into are due to the use of Protobuf Types directly, and a lack of test coverage.

I'm working through the test coverage issue to expose these cases.

[2020-06-08 12:12] Amr-A opened #597 "Is there an Api to change Data source? (Api not from scripts)"
I want the same XVIZ server to change the Data folder from an external API Call, ist there  support for this in XVIZ Server

[2020-06-09 19:32] twojtasz commented on #597
@Amr-A the current XVIZ server in javascript does not allow you to change the data source at runtime, you have to specify the directories it will look when you start it.

[2020-06-09 19:32] #597 closed

[2020-06-09 19:35] twojtasz commented on #569
clearly need a better test case for this, however V1 will be removed soon (it was only an internal thing as no open source V1 builders exist).

[2020-06-09 19:37] twojtasz commented on #570
@KSaikishore I think your question as answered in that this is beyond XVIZ and more about how you access your data.  Assuming you have a server and client setup such that they can access each other, the next step is simply using something like the file-reader in the kitti example, which we use in our public demo to read from Github.

 if you have any further questions open up another issue.

[2020-06-09 19:37] #570 closed

[2020-06-09 19:40] twojtasz commented on #579
@KSaikishore If you had some examples we would happily link to them.  The primary motivation is to provide examples to demonstrate how to work with data. Unless the new data set is very unique it would not necessarily need to be hosted within the project.

Having said that, I am eager to get OpenDRIVE / OpenScenario support but no timeline on that.

[2020-06-09 19:40] #579 closed

[2020-06-09 19:49] twojtasz commented on #581
@goksanisil23  The current polyline does not support dashed lines.
 However we do have an example implementation that does.

https://github.com/uber/streetscape.gl/blob/master/modules/layers/src/lane-layer/README.md

This is demonstrated as a custom layer here: https://github.com/uber/streetscape.gl/blob/master/test/apps/layers/src/custom-layers.js

Currently the custom layer approach is a bit awk

[2020-06-09 19:49] #581 closed

[2020-06-09 19:55] goksanisil23 commented on #581
Thanks for pointing out the lane layer. It seems that it would do the job for me.

[2020-06-09 20:58] twojtasz commented on #587
@KSaikishore The **XvizFakePose** generates a **pose** stream required by the visualizer.  It simply outputs a fixed position and no orientation.

You would have to create your own converter to output a position & orientation, then register it and setup the configuration for it in order for it to work.  The **ros-custom** example should demonstrate this for you.

[2020-06-09 20:58] #587 closed

[2020-06-09 20:58] twojtasz commented on #583
@mahaogithub See https://avs.auto/#/streetscape.gl/advanced-topics/display-multiple-logs?section=loading-multiple-logs

It shows accessing to logs via the StreamLoader.

[2020-06-09 20:58] #583 closed

[2020-06-09 20:59] twojtasz commented on #563
We did add persistence so the specification but the libraries here to not currently expose it.

[2020-06-09 21:23] twojtasz commented on #590
Without the ability to reproduce I'm not sure what could be wrong. If you have data you can make accessible and or can record and present some recording or image sequence so I understand what your are experience then I should be able to help.

[2020-06-09 21:25] twojtasz commented on #580
Are you running from your own project with **@xviz/server** as a dependency right.  I'll give it a shot and see if I can reproduce.

Where you on Linux or OSX?

[2020-06-09 21:27] twojtasz commented on #567
the **ros-custom** example and the IMU message converter are to demonstrate how to create your own XVIZ converter for a ROS message.

So you could copy the **imu-converter.js** and customize it for your needs, converting to a value that is relevant to your use-case.

[2020-06-09 21:27] #567 closed

[2020-06-09 21:29] twojtasz commented on #568
@heshiwen1989 What platform are you on?  **jq** is a command line tool that should be available in linux and mac, not sure the setup for windows.

the website shows homebrew support.
https://stedolan.github.io/jq/download/

[2020-06-09 21:32] twojtasz commented on #562
There is no interpolation being converted.  The data is simply indexed by timestamp with the one that is <= the target timestamp being selected.

[2020-06-09 21:32] #562 closed

[2020-06-10 01:23] jediofgever commented on #580
@twojtasz , hi , thanks for reply ,
I solved this issue but actually forget how.
Now I am interested  in to  visualize object boxes in xviz,
The topic is from ROS with following fields;

[code]
 Could you please address any link/steps to achieve this ?

[2020-06-17 09:30] Algirdyz opened #598 "Dependency issue when included in streetscape.gl"
Hey,

Wasn't sure where to post this issue, streetscape or xviz. But here goes.

So I've encountered this error today:
https://github.com/visgl/deck.gl/issues/4598

It would seem that I have two versions of @loaders.gl/core in my project when adding @streetscape.gl package.

One of them is @loaders.gl/core@1.3.7 which comes from xviz/parser
Another one is @loaders.gl/core@2.1.6 from @deck.gl/core@

[2020-06-18 18:24] twojtasz commented on #598
xviz should update to the latest version 2.1.6

[2020-06-22 14:50] Algirdyz commented on #598
Looking here I see that version range is ^1.3.3
https://github.com/uber/xviz/blob/master/modules/parser/package.json

How do I get it to 2.1.6

[2020-06-22 19:39] twojtasz commented on #598
I am working to get this tested and push it up today

On Mon, Jun 22, 2020 at 7:50 AM Algirdyz <notifications@github.com> wrote:

[2020-06-23 06:27] filipemtz commented on #584
I think the python wrapper of xviz could be imported in a ros module and used for publishing data for visualization in streetscape

[2020-06-23 11:07] MikeChou commented on #386
My solution:
1. gzip each frame.glb, store its sizes before & after compression
2. concatenate the gzipped files orderly into a single large file, store it in S3 (setting Content-Encoding: gzip header)
3. put the two sizes of all frames into the meta file, or a separate index file
4. write a custom XVIZFileLoader using the index info in meta file to calculate the offsets (both before & after compr

[2020-06-23 16:42] twojtasz commented on #386
@MikeChou this would be a great example to have added or at least we could like to any project you have that implemented this

[2020-06-23 23:48] filipemtz opened #599 "What is the meaning of the message "TODO: Wait protobuf to be fixed" in the xviz/python/xviz_avs/v2/ folder?"
Hey there, hope you are fine. I am considering implementing a cpp version of xviz using the python version as an skeleton (btw do you think this is a good idea?). In the README from the folder  xviz/python/xviz_avs/v2/ there is a comment saying "TODO: Wait protobuf to be fixed". Does it mean that the current version of proto files in v2 have problems? What are these problems? The problems affect t

[2020-06-25 23:25] twojtasz commented on #598
This is taking a bit longer because the major version bump removed an api we used for handling GLTF data.

[2020-06-26 20:53] twojtasz commented on #598
I need to extract the code from the old loaders.gl we where using and just embed it in XVIZ, working on it.

In order to *use* the loaders.gl v2, we need to expand the API to allow us to register a custom extension for post-processing of the data.  Considering how Protobuf is more efficient, I don't see a lot of reward for investing in this (gltf support) beyond our current support.

[2020-06-26 21:29] twojtasz commented on #598
@Algirdyz so just to be clear, your using angular and streetscape along with custom deck.gl layers?  This is the setup for your app?

[2020-06-26 21:31] twojtasz commented on #599
@filipemtz we have a C++ PR pending already.  See https://github.com/uber/xviz/pull/592

That comment was from the original committer for that Python code so I'm not sure what it refers too.

[2020-06-28 17:00] Algirdyz commented on #598
Oh no, I am not.
I have a react application with a streetscap component and another component that is based on just deck.gl.
However, from my investigation it just seems that somehow streetscape requires loaders from two different versions. One from xviz/parser and another from deck.gl
I am not entirely sure how that happened and how it was not a problem before, but it makes sense when I investiga

[2020-06-29 08:39] buni-rock commented on #584
So far we have managed to create a ros2 subscriber to read data from various topics using rclnodejs. Then the data has been converted to XVIZ protocol but the problem we have encountered now is that we are not able to stream the data to Streetscape. As I have seen, the XVIZ server is able to stream only offline data (data stored in files on hdd). The XVIZ server uses the -d argument for reading th

[2020-06-30 09:34] sylvaintouret commented on #593
Could you include the fix for classes which seems to be working for me
function _format_primitive in primitive.py:
`[base.classes.append(cls) for cls in  self._classes]`

I've been using it for a while and it does fix at least the class definition even though i have to use stream styling instead of class styling

[2020-07-10 08:35] sylvaintouret commented on #593
Thanks for the update :)

[2020-07-10 13:32] twojtasz commented on #593
I'll review this today.

On Fri, Jul 10, 2020, 01:35 sylvaintouret <notifications@github.com> wrote:

[2020-07-10 18:11] #593 closed

[2020-07-10 18:51] kgreenek commented on #593
Thank you for the quick review cycle!

Would you guys mind doing a minor release to pypi with this bug fix? that way I can just bump the version number instead of having to package a wheel myself to get this in. I'm using it now

[2020-07-10 18:54] twojtasz commented on #593
I'll try to get a release out today, but not until this evening.

On Fri, Jul 10, 2020 at 11:51 AM Kevin Greene <notifications@github.com>
wrote:

[2020-07-13 18:59] cmpute commented on #599
About that comment, I remember it was because a problem of compiling protobuf files at that time, which seems to be fixed by https://github.com/uber/xviz/pull/561. So that TODO can be removed now

[2020-07-13 19:01] cmpute commented on #599
I didn't check the compilation when answering https://github.com/cmpute/xviz.py/issues/2, but I tried compilation today and it works fine

[2020-07-13 19:39] twojtasz commented on #593
Hitting a test failure i'm fixing first then will release

[2020-07-21 10:18] Algirdyz commented on #598
Any news regarding this issue?

[2020-07-21 10:32] twojtasz commented on #598
Nearly there, sorry for the delay.

Should be able to publish tomorrow evening.

Thanks,
Tim

On Tue, Jul 21, 2020, 03:18 Algirdyz <notifications@github.com> wrote:

[2020-07-22 23:26] twojtasz commented on #598
@Algirdyz just published xviz 1.0.6 i'm working to setup a project with streetscape and an additional deck.gl component to verify the fix with the published version

[2020-07-22 23:38] twojtasz commented on #598
Seems to be working for me.  Let me know if you run into any problems.

[2020-07-23 06:49] ElBley commented on #590
I'm having the same issue, when using the nuscenes conversor with the mini or teaser dataset, when visualizing on streetscape.gl it only properly shows some of the frames. I think this is a conversor issue since most of the .glb files generated are too small (some of the .glb weight around 1.2Mb and the others around 500 kb, probably the heavy ones are the ones that are printing properly).  This c

[2020-07-23 09:07] mrswaffs opened #606 "Correct way to convert ros2 images with xviz python?"
Hi there,
I have been trying for a week now to send images from my ros2 application with the python version of xviz to streetscape gl
The part resiving ros2 is done. Then i used the example code and convert the image data to bytes and pass this and the dimensions to the xivizbuilder. However the streetscape server tells me under chrome that it could not decode the image.
With the kitty example and

[2020-07-23 09:47] mrswaffs commented on #584
you can have a look at #606 that i just created there you have an example scenario in python, however i am currently not able to visualize images with that approach. Other topics work well (you might have to write your own converters).

[2020-07-23 22:01] jrabary opened #607 "How to add time series chart and image display in the circle scenario example in python ?"
I'm trying to add a time series chart and image (video) visualisation in the python example.
Here are the changes I made so far

in `circle.py` add the stream definition

[code]

and some sample data

[code]

These stream appears in the stream tree of the UI but the chart nor the image as shown below

<img width="913" alt="Capture d’écran 2020-07-23 à 23 57 54" src="https://user-images.githubuserc

[2020-07-24 02:10] zwmisdu commented on #584
Thanks!

[2020-07-24 14:45] John2397 opened #609 "Error when creating config.json file"
I have a .bag file which I want to convert to XVIZ. When I enter the following command, as instructed [by the tutorial ](url):
`./modules/ros/bin/xvizros config path/to/fileName.bag > config.json`

the following error message appears:
[code]

What might be causing this?

[2020-07-24 15:38] twojtasz commented on #609
That should exist in you built the module.

Can you see if there is a babel-xvizros command in the same folder that
works off the direct source code not transpiled output from the build.

On Fri, Jul 24, 2020, 07:45 Georger2323 <notifications@github.com> wrote:

[2020-07-26 09:23] John2397 commented on #609
I'm afraid I didn't understand in which folder you want me to test the `babel-xvizros` command

[2020-07-26 20:13] twojtasz commented on #609
Modules/Ros/bin

On Sun, Jul 26, 2020, 02:23 John2397 <notifications@github.com> wrote:

[2020-07-27 07:01] John2397 commented on #609
Yes that file exists in the folder you mentioned.

[2020-07-27 07:07] John2397 commented on #609
After reinstalling a different version of nodejs and npm, it now worked for some reason.

[2020-07-27 07:07] #609 closed

[2020-07-28 11:24] JunkyDeveloper commented on #584
Hello, i currently write a whole xviz server in c++ explizit for live data. No log support will be added because rosbags can replayed and this solve this problem. My current project is with ros1 and the development need a lot of time. Maybe in a few months. My solution will be open source and maybe help you or you can fork this to create add your needed functionality.

[2020-07-30 09:30] EliotCao commented on #551
I have a similar problem that polyline can't display correctly. I have test it in playground.
the metedata is
`// metadata
xvizMetadataBuilder
  .startTime(1000)
  .endTime(1005)

  .stream('/vehicle_pose')
  .category('POSE')

  .stream('/prediction/trajectory')
  .category('PRIMITIVE')
  .type('POLYLINE')
  .coordinate('GEOGRAPHIC')
  .streamStyle({
    stroke_color: '#0f0'
  })`

and the state_

[2020-08-03 20:51] aalibasic commented on #607
@jrabary - were you able to resolve this? I am seeing the same issue.